<div id="addChanceModal" class="addxs modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:580px;">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myAPModalLabel">新增机会</h3>
      </div>
      <div ng-controller="SalesChanceEditCtrl">
        <div class="clearfix">
        <form name="SalesAddChanceForm" ng-class="showerror?'showerror':''">
        <ul class="listContent">
        	<li style="display:none;"><span class="span1">机会类型：</span><span>
                    <select class="span3" name="ChanceType" ng-model="EditChance.ChanceType" ng-required="true">
                        <option value="1" ng-selected="EditChance.ChanceType==1">新客户机会</option>
                        <option value="2" ng-selected="EditChance.ChanceType==2">老客户机会</option>
			        </select>
        	    </span>
        	</li>
        	<li><span class="span1">客户类型：</span><span>
                    <select class="span3" name="CustomerType" ng-model="EditChance.CustomerType" ng-change="customerTypeChange()">
                        <option value="1" ng-selected="EditChance.CustomerType==1">企业客户</option>
                        <option value="2" ng-selected="EditChance.CustomerType==2">个人客户</option>
			        </select>
        	    </span>
        	</li>
            <li><span class="span1">{{EditChance.CustomerType==1?'企业名称':'联系人'}}：</span><span><input type="text" id="salesChanceContactNameInput" ng-model="EditChance.ContactName" value="" ng-required="true" class="span3" data-provide="typeahead" autocomplete="off" ng-change="contactNameChange()" ></span></li>
            <li><span class="span1">机会描述：</span><span><textarea rows="3" name="PInfo" ng-model="EditChance.Remark" ng-required="true" placeholder="请输入机会描述" class="span3"></textarea></span></li>
            <li><span class="span1">联系方式：</span>
                <span>
                    <input type="text" ng-model="EditChance.Phone" value="" ng-pattern="/^[1][358]\d{9}$/" placeholder="手机" class="span3">
                </span>
            </li>
            <li><span class="span1">&nbsp;</span><span><input type="text" ng-pattern="/(\(\d{3,4}\)|\d{3,4}-|\s)?\d{8}/" ng-model="EditChance.Tel" value="" placeholder="座机" class="span3"></span></li>
            <li><span class="span1">&nbsp;</span><span><input type="text" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" ng-model="EditChance.Email" value="" placeholder="E-mail" class="span3" ></span></li>
            <li><span class="span1">&nbsp;</span><span><input type="text" ng-model="EditChance.Qq" value="" placeholder="QQ" class="span3"></span></li>
            <!--<li><span class="span1">&nbsp;</span><span class="colorlight font12"><input type="checkbox" ng-model="EditChance.Isasyn" checked="false" />是否把该新客户的信息同步到客户管理模块</span></li>-->
            <li><span class="span1">&nbsp;</span><span class="spanBtn clearfix"><a ng-href="" class="btn btn-block btn-danger" ng-click="SalesAddChanceSubmit()">保存</a></span></li>
        </ul>
        </form>
        </div>
      </div>
    </div>
