    	<div class="floatBox pactBox" id="contractDetailBox" style="width:0;right:0;top:0;">
        	<div class="fBg"></div>
            <div class="fCon clearfix">
                <i class="arrR" ng-click="hideContractDetail()"></i>
                <ul class="pact-ul clearfix">
                	<li ng-class="tabIndex==1?'cur':''" ng-click="tabIndex=1">合同详情</li>
                    <li ng-class="tabIndex==2?'cur':''" ng-click="contractDynamic()">合同动态</li>
                </ul>
            	<ul class="ul-f1" ng-show="tabIndex==1">
                	<li class="clearfix"><span class="colorBlue namS">合同名称：</span><span class="conS">{{contract.CName}}</span></li>
                    <li class="clearfix"><span class="colorBlue namS">合同编号：</span><span class="conS">{{contract.ContractNo}}
</span></li>
                    <li class="clearfix"><span class="colorBlue namS">客户：</span><span class="conS">{{contract.CustomerName}}</span></li>
                    <li class="clearfix"><span class="colorBlue namS">合同金额：</span><span class="conS">{{contract.Amount | currency:''}}</span></li>
                    <li class="clearfix"><span class="colorBlue namS">付款方式：</span><span class="conS">{{contract.Howtopay ==0?'全额':'分期'}} <span ng-show="contract.Howtopay ==1">共<b class="colorRed">{{contract.HowtopayList.length}}</b> 期</span>
</span></li>
                    <li class="clearfix"><span class="colorBlue namS">合同有效期：</span><span class="conS">{{parseJsonDate(contract.StartTime,'yyyy/MM/dd')}} <span class="colorBlue">至</span>{{parseJsonDate(contract.EndTime,'yyyy/MM/dd')}}</span></li>
                    <li class="clearfix"><span class="colorBlue namS">合同承办人：</span><span class="conS">{{contract.UserName}}
</span></li>
                    <li class="clearfix"><span class="colorBlue namS">合同签订时间：</span><span class="conS">{{parseJsonDate(contract.ContractTime,'yyyy/MM/dd')}}</span></li>
                    <li class="clearfix"><span class="colorBlue namS">附件：</span><span class="conS">
                    <div class="textpact" ng-repeat="attachment in contract.attachments">
                        <i class="textIcon"></i>
                        <div class="textNam">鼠标购买合同.doc</div>
                        <a href="#" class="downloadIcon"></a>
                	</div>
                </span></li>
                </ul> 
                <ul class="ul-f3" ng-show="tabIndex==2">
                    <li class="clearfix cur">
                        <div class="li-timeb colorRed">
                           三期
                            <span class="cir-w"><i></i></span>
                        </div>
                        <div class="li-conb">
                            <div class="li-boxs">
                                <i></i>
                                <div class="tim-list"><div class="colorBlue">收款时间：</div>2013/06/02</div>
								<div class="tim-list"><div class="colorBlue">实际收款时间：</div><span class="colorRed">未到收款日</span></div>
                            </div>
                        </div>
                    </li> 
                    <li class="clearfix none">
                        <div class="li-timeb colorRed">
                           二期
                            <span class="cir-w"><i></i></span>
                        </div>
                        <div class="li-conb">
                            <div class="li-boxs">
                                <i></i>
                                <div class="tim-list"><div class="colorBlue">收款时间：</div>2013/06/02</div>
								<div class="tim-list"><div class="colorBlue">实际收款时间：</div><span class="colorRed">未到收款日</span></div>
                            </div>
                        </div>
                    </li>                            
                </ul>        
            </div>
        </div>
