<div id="visitLocationSelectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myAPModalLabel">选择地点</h3>
      </div>
      <div class="modal-body" style="width:850px;">
        <div class="popupBox clearfix"  style="width:850px;">
            <iframe id="salesVisitMapIframe" src="" style="width:850px;height:500px;border:none;"></iframe>
        </div>
      </div>
</div>
    	<div class="floatBox floatW900" id="visitDetailBox" style="width:0;right:0;top:0;"  ng-controller="SalesVisitDetailCtrl">
        	<div class="fBg"></div>
            <div class="fCon clearfix">
                <i class="arrR" ng-click="hideVisitDetail()"></i>
            	<div class="contentbaifang clearfix">
                    <div class="chanceB-r">
                       <div class="visit_title">
                            <img src="img/timelinejh.png"/>
                            <div class="visit_title_content">
                                <h4 class="colorRed">销售机会描述</h4>
                                <div class="colorlight visit_title_info ">{{chance.Remark}}</div>
                            </div>
                            <div class="visit_title_btn">
                              <div class="sign-pact">
                            	<a href="" class="hetong_btn">签订合同</a>
                              </div>
                              <div class="rate-cur">
                                <i class="rate-icon "></i>
                            	<div class="rate-show" ng-hide="rateEditPanleShow" ng-dblclick="rateEditPanleShow=true">
                                	当前赢率：{{chance.Rate}}%
                                </div>   
                               </div>
                        </div>
                        
                    	<!--<div class="title-f clearfix">
                
                                <div class="rate-show" ng-show="rateEditPanleShow">
                                    <form name="SalesRateChangeFrom">
                                        <input type="text" ng-model="NewRate" ng-required="true" />
                                        <div class="alter">
                                            <b></b>
                                            <div>
                                                <a href="" ng-click="changeRateSubmit()">保存</a>
                                                <a href="" ng-click="rateEditPanleShow=false">取消</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>-->
                    </div>
                       
                       <div class="visit_line"></div>

                       <ul class="ul-f2">
                        	<li class="clearfix">
                            	<div class="li-timeb colorBlue">
                                	<span class="cir-w"></span>
                                </div>
                                <div class="li-conb">
                                    <!--<i class="add_i"></i>
                                    <div class="jiantou_bg"> 
                                        <a href="" class="" ng-click="addNewVisit($event)">点击添加新的拜访记录</a>
                                    </div>-->
                                	
									<div class="li-boxs add-visit clearfix" id="visitEditBox">
										<i class="jiantou_i"></i>
										<div class="clearfix">
                                        	<div class="visit-num">
                                            	<span class="visit-num-title">{{((chance_visits.length||0) + 1)==1?'初':'第'+parseNumberToChinese((chance_visits.length||0) + 1)}}次拜访</span>
                                            </div>
                                        </div>
										<div class="clearfix">
                                            <form name ="SalesAddChanceVisitFrom" ng-class="showerror?'showerror':''">
                                          <div class="add_content">
											<div class="choice-left">
												<label class="colorlight"><input type="radio" name="visitType" value="1" ng-model="EditVisit.VisitType"/>电话</label>
                                                <label class="colorlight"><input type="radio" name="visitType" value="2" ng-model="EditVisit.VisitType"/>面谈</label>
												<label class="colorlight"><input type="radio" name="visitType" value="3" ng-model="EditVisit.VisitType"/>在线联系</label>
                                                <input type="text" ng-model="visit_lat" style="display:none;" />
                                                <input type="text" ng-model="visit_lng" style="display:none;" />
											</div>
                                            <div class="choice-right">
												<textarea class="miaoshuborder"  ng-model="EditVisit.Remark"></textarea>
											</div>
                                          </div>
                                          <div class="add_content_btn ">
                                            <div class="add_xuxian">
                                                <a href="" class="add_a grayLink" ng-click="selectVisitLocation()"><i class="maker"></i>添加地点</a>
                                                <a href="" class="add_a grayLink" ><i class="maker"></i>添加报价</a>
                                                <p class="colorGray"><lable ng-model="EditVisit.Address">阿斯顿撒旦撒</lable></p>
                                            </div>
                                            <div class="choice-box"><span><a href="" ng-click="addChanceVisit()" class="btn btn-large btn-danger">保存 </a></span></div>
                                          </div>
                                            </form>
										</div>
										
									</div>
                                </div>
                            </li>
                            <li class="clearfix" ng-repeat="visit in chance_visits">
                                <div>
                            	    <div class="visit_time">2013/07/31</div>
                                    <div class="li-conb">
                                	    <div class="li-boxs">
                                    	    <i class="jiantou_i"></i>
										    <div class="liedit-close-box">
											    <input type="button" class="editIcon2" ng-click="editExistVisit($event)"/>
											    <input type="button" class="closeIcon"/>
										    </div>
                                            <div class="clearfix">
                                        	    <div class="visit-num">
                                            	    <span class="visit-num-title">{{($index-chance_visits.length)==-1?'初':'第'+parseNumberToChinese($index-chance_visits.length)}}次拜访</span>
                                                    <span class="span2 visit_fs_mt"></span>
                                                </div>

                                                <div class="quote-info">
                                            	    报价：<span class="colorRed">125,600</span>
                                                </div>
                                            </div>
                                            <p>{{visit.Remark}}</p>
										    <div class="li-address"><b class="mapIcon" ng-click="markAddressOnMap()"></b>{{parseAddress(visit.Address).address}}/17:56</div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                </div>                
            </div>
        </div>
