<div id="visitLocationSelectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<iframe id="salesVisitMapIframe" src="" style="width:850px;height:500px;border:none;"></iframe>
</div>
    	<div class="floatBox floatW900" id="visitDetailBox" style="width:0;right:0;top:0;">
        	<div class="fBg"></div>
            <div class="fCon clearfix">
                <i class="arrR" ng-click="hideVisitDetail()"></i>
            	<div class="clearfix">
                	<div class="chanceB-l">
                    	这个客户最近比较关注笔记本电脑，在微博里已经多次询问好友部分型号的电脑性能怎么样。从目前得知可能会倾向于联想X908型号
                    </div>
                    <div class="chanceB-r">
                    	<div class="title-f clearfix">
                        	<h1 class="colorBlue">机会描述</h1>
                            <div class="sign-pact">
                            	<a href="#fakelink" class="btn btn-large btn-block btn-danger">签订合同</a>
                                <a href="#" class="writeLink">结束拜访，转回到机会</a>
                            </div>
                            <div class="rate-cur">
                            	<div class="rate-show">
                                	当前赢率：<strong>45%</strong>
                                	<div class="alter">
                                    	<b></b>
                                        <div>
                                        	双击修改赢率
                                        </div>
                                        <input type="button" class="close-alert"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="ul-f2">
                        	<li class="clearfix">
                            	<div class="li-timeb colorBlue">
                                	<span class="cir-w"><i></i></span>
                                </div>
                                <div class="li-conb">
                                	<a href="#" class="writeLink">点击添加新的拜访记录</a>
									<div class="li-boxs add-visit clearfix">
										<i></i>
										<div class="clearfix">
                                        	<div class="visit-num">
                                            	<span class="span1">第二次拜访</span>
                                            </div>
                                        </div>
										<div class="clearfix">
											<div class="choice-left">
												<label><input type="radio"/>电话</label>
												<label><input type="radio"/>在线联系</label>
												<label><input type="radio"/>面谈</label>
                                                <input type="text" ng-model="visit_lat" style="display:none;" />
                                                <input type="text" ng-model="visit_lng" style="display:none;" />
												<a href="" class="grayLink" ng-click="selectVisitLocation()">添加地点</a>
											</div>
											<div class="choice-right">
												<textarea></textarea>
												<input type="text" class="text"/>
												<div class="choice-box">
													<span>
														<a href="#fakelink" class="btn btn-large btn-block btn-danger">保存 </a>
													</span>
                                                    <span>
                                                    	<a href="#fakelink" class="btn btn-block btn-large">取消</a>
                                                    </span>
												</div>
											</div>
										</div>
										
									</div>
                                </div>
                            </li>
                            <li class="clearfix">
                            	<div class="li-timeb colorBlue">
                                	2013/07/31
                                	<span class="cir-w"><i></i></span>
                                </div>
                                <div class="li-conb">
                                	<div class="li-boxs">
                                    	<i></i>
										<div class="liedit-close-box">
											<input type="button" class="editIcon2"/>
											<input type="button" class="closeIcon"/>
										</div>
                                        <div class="clearfix">
                                        	<div class="visit-num">
                                            	<span class="span1">第二次拜访</span>
                                                <span class="span2"><b class="peo-wIcon"></b></span>
                                            </div>

                                            <div class="quote-info">
                                            	报价：<span class="colorBlue">125,600,000</span>
                                            </div>
                                        </div>
                                        <p>今天电话了王先生，他对我当前的报价基本没有意义了。答应明天给我扯回销，确定是否购买我们的产品
</p>
										<div class="li-address"><b class="mapIcon"></b>成都市，一品天下大街56号/17:56</div>

                                    </div>
                                </div>
                            </li>
                            <li class="clearfix none">
                            	<div class="li-timeb colorBlue">
                                	2013/07/31
                                	<span class="cir-w"><i></i></span>
                                </div>
                                <div class="li-conb">
                                	<div class="li-boxs">
                                    	<i></i>
                                        <div class="clearfix">
                                        	<div class="visit-num">
                                            	<span class="span1">第二次拜访</span>
                                                <span class="span2"><b class="tel-wIcon"></b></span>
                                            </div>
                                            <div class="quote-info">
                                            	报价：<span class="colorBlue">125,600,000</span>
                                            </div>
                                        </div>
                                        <p>今天电话了王先生，他对我当前的报价基本没有意义了。答应明天给我扯回销，确定是否购买我们的产品
</p>
										<div class="li-address"><b class="mapIcon"></b>成都市，一品天下大街56号/17:56</div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
