body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -66px;
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../修改邮箱_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:70px;
    top:0px;
    width:1024px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../leftnav_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:70px;
    top:61px;
    width:120px;
    height:846px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:852px;
}

.u3 {
    position:absolute;
    left:2px;
    top:415px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../leftnav_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:70px;
    top:160px;
    width:120px;
    height:90px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:96px;
}

.u5 {
    position:absolute;
    left:2px;
    top:37px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:113px;
    top:223px;
    width:42px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../leftnav_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:90px;
    top:70px;
    width:80px;
    height:80px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:80px;
}

.u8 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../leftnav_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:846px;
}

.u9 {
    position:absolute;
    left:186px;
    top:61px;
    width:10px;
    height:846px;
    
}

.u10_normal {
    background-image: url('../leftnav_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:105px;
    top:171px;
    width:50px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u11 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../leftnav_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:90px;
}

.u12 {
    position:absolute;
    left:66px;
    top:160px;
    width:10px;
    height:90px;
    
}

.u13 {
    position:absolute;
    left:99px;
    top:325px;
    width:81px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../leftnav_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:105px;
    top:273px;
    width:50px;
    height:50px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u15 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:99px;
    top:415px;
    width:69px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../leftnav_files/u14_normal.png');
}

.u17_container {
    position:absolute;
    left:105px;
    top:363px;
    width:50px;
    height:50px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u18 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:99px;
    top:504px;
    width:71px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../leftnav_files/u14_normal.png');
}

.u20_container {
    position:absolute;
    left:105px;
    top:452px;
    width:50px;
    height:50px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u21 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:99px;
    top:596px;
    width:71px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../leftnav_files/u14_normal.png');
}

.u23_container {
    position:absolute;
    left:105px;
    top:544px;
    width:50px;
    height:50px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u24 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../修改邮箱_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:192px;
    top:44px;
    width:902px;
    height:863px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:908px;
    height:869px;
}

.u27 {
    position:absolute;
    left:2px;
    top:424px;
    width:898px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:205px;
    top:48px;
    width:211px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../修改邮箱_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:253px;
    top:175px;
    width:21px;
    height:12px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:18px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../修改邮箱_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:260px;
    top:102px;
    width:765px;
    height:246px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:771px;
    height:252px;
}

.u32 {
    position:absolute;
    left:2px;
    top:115px;
    width:761px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../修改邮箱_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:261px;
    top:103px;
    width:110px;
    height:80px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:86px;
}

.u34 {
    position:absolute;
    left:2px;
    top:30px;
    width:106px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../修改邮箱_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:371px;
    top:103px;
    width:648px;
    height:80px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:654px;
    height:86px;
}

.u36 {
    position:absolute;
    left:2px;
    top:32px;
    width:644px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../修改邮箱_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:764px;
    height:3px;
}

.u37 {
    position:absolute;
    left:261px;
    top:179px;
    width:764px;
    height:10px;
    
}

.u38 {
    position:absolute;
    left:393px;
    top:132px;
    width:156px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../修改邮箱_files/u33_normal.png');
}

.u39_container {
    position:absolute;
    left:261px;
    top:185px;
    width:110px;
    height:80px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:86px;
}

.u40 {
    position:absolute;
    left:2px;
    top:30px;
    width:106px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../修改邮箱_files/u35_normal.png');
}

.u41_container {
    position:absolute;
    left:371px;
    top:185px;
    width:648px;
    height:80px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:654px;
    height:86px;
}

.u42 {
    position:absolute;
    left:2px;
    top:32px;
    width:644px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../修改邮箱_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:0px;
    top:4px;
    width:764px;
    height:3px;
}

.u43 {
    position:absolute;
    left:261px;
    top:261px;
    width:764px;
    height:10px;
    
}

.u44_normal {
    background-image: url('../修改邮箱_files/u33_normal.png');
}

.u44_container {
    position:absolute;
    left:261px;
    top:267px;
    width:110px;
    height:80px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:86px;
}

.u45 {
    position:absolute;
    left:2px;
    top:30px;
    width:106px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../修改邮箱_files/u35_normal.png');
}

.u46_container {
    position:absolute;
    left:371px;
    top:267px;
    width:648px;
    height:80px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:654px;
    height:86px;
}

.u47 {
    position:absolute;
    left:2px;
    top:32px;
    width:644px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../修改邮箱_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:393px;
    top:206px;
    width:341px;
    height:39px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:45px;
}

.u49 {
    position:absolute;
    left:2px;
    top:12px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../修改邮箱_files/u48_normal.png');
}

.u50_container {
    position:absolute;
    left:393px;
    top:291px;
    width:341px;
    height:39px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:45px;
}

.u51 {
    position:absolute;
    left:2px;
    top:12px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../修改邮箱_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:479px;
    top:370px;
    width:216px;
    height:42px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:222px;
    height:48px;
}

.u53 {
    position:absolute;
    left:2px;
    top:12px;
    width:212px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../修改邮箱_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:944px;
    top:0px;
    width:150px;
    height:43px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:49px;
}

.u55 {
    position:absolute;
    left:2px;
    top:14px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../修改邮箱_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:1069px;
    top:19px;
    width:12px;
    height:8px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:14px;
}

.u57 {
    position:absolute;
    left:2px;
    top:-4px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u58 {
    position:absolute;
    left:944px;
    top:44px;
    width:151px;
    height:145px;
    overflow:hidden;
}

#pd0u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:145px;
    
}

.u59_normal {
    background-image: url('../修改邮箱_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:1px;
    width:150px;
    height:104px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:110px;
}

.u60 {
    position:absolute;
    left:2px;
    top:44px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:0px;
    top:12px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_line {
    background-image: url('../修改邮箱_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u62 {
    position:absolute;
    left:0px;
    top:30px;
    width:150px;
    height:10px;
    
}

.u63 {
    position:absolute;
    left:0px;
    top:45px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_line {
    background-image: url('../修改邮箱_files/u64_line.png');
}

.u64_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u64 {
    position:absolute;
    left:0px;
    top:65px;
    width:150px;
    height:10px;
    
}

.u65 {
    position:absolute;
    left:0px;
    top:79px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

