<div id="addPurchaseModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:580px;">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myAPModalLabel">编辑产品</h3>
      </div>
      <div class="modal-body" style="width:580px;">
        <div class="popupBox clearfix"  style="width:580px;">
        <div class="madeBox" style="width:580px;">
        <ul class="listContent">
        	<li><span class="span1">采购数量：</span><span><input type="text" value="" placeholder="Inactive" class="span3"></span></li>
            <li><span class="span1">采购单价：</span><span><input type="text" value="" placeholder="Inactive" class="span3"></span></li>
            <li><span class="span1">&nbsp;</span><span class="priceBox">采购总价：<b class="colorBlue">85000.00</b><span class="colorGray">元</span></span></li>
            <li><span class="span1">&nbsp;</span><span class="spanBtn clearfix"><a href="#fakelink" class="btn btn-large btn-block btn-success">确 定</a></span></li>
        </ul>
        </div>
    </div>
      </div>
    </div>
