<h1 class="titSec">我的时间轴</h1>
<div class="time-box" id="mytimeshaftZone">
    <div><a href="" ng-click="ShowAddCompany()" class="time-add">添加企业</a></div>
    <ul class="time-shaft" ng-repeat="timeshaftItem in UserTimeShafts">
        <li class="clearfix">
            <div class="time-q">{{parseJsonDate(timeshaftItem.StartTime)|date:'yyyy/MM/dd'}}<span>至</span>{{parseJsonDate(timeshaftItem.EndTime)|date:'yyyy/MM/dd'}}</div>
            <div class="com-info">
                <h2 title="{{timeshaftItme.EntName}}">{{timeshaftItem.EntName}}</h2>
                <p>职位：{{timeshaftItem.RoleName}}</p>
            </div>
        </li>
    </ul>
    <div class="w-bg"></div>
</div>
<div  ng-include="'partials/others/addcompany.html'"></div>
