body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -70px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../老板模式_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:70px;
    top:0px;
    width:1024px;
    height:900px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:906px;
}

.u1 {
    position:absolute;
    left:2px;
    top:442px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../老板模式_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:1060px;
    top:9px;
    width:25px;
    height:25px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u3 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:93px;
    top:14px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../老板模式_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:70px;
    top:92px;
    width:1024px;
    height:392px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:398px;
}

.u6 {
    position:absolute;
    left:2px;
    top:188px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../老板模式_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:295px;
    top:139px;
    width:284px;
    height:327px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:290px;
    height:333px;
}

.u8 {
    position:absolute;
    left:2px;
    top:156px;
    width:280px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:657px;
    top:171px;
    width:162px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:657px;
    top:212px;
    width:162px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:657px;
    top:252px;
    width:162px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:683px;
    top:293px;
    width:136px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:657px;
    top:334px;
    width:162px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../老板模式_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:908px;
    top:113px;
    width:147px;
    height:32px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:38px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../老板模式_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:1038px;
    top:126px;
    width:8px;
    height:5px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:11px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-6px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../老板模式_files/u14_normal.png');
}

.u18_container {
    position:absolute;
    left:908px;
    top:145px;
    width:147px;
    height:32px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:38px;
}

.u19 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../老板模式_files/u14_normal.png');
}

.u20_container {
    position:absolute;
    left:908px;
    top:177px;
    width:147px;
    height:32px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:153px;
    height:38px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:143px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../老板模式_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:411px;
    height:3px;
}

.u22 {
    position:absolute;
    left:188px;
    top:560px;
    width:411px;
    height:10px;
    
}

.u23_line {
    background-image: url('../老板模式_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:411px;
    height:3px;
}

.u23 {
    position:absolute;
    left:188px;
    top:645px;
    width:411px;
    height:10px;
    
}

.u24_line {
    background-image: url('../老板模式_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:411px;
    height:3px;
}

.u24 {
    position:absolute;
    left:188px;
    top:730px;
    width:411px;
    height:10px;
    
}

.u25_line {
    background-image: url('../老板模式_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:411px;
    height:3px;
}

.u25 {
    position:absolute;
    left:188px;
    top:815px;
    width:411px;
    height:10px;
    
}

.u26_normal {
    background-image: url('../老板模式_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:492px;
    top:730px;
    width:74px;
    height:90px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:96px;
}

.u27 {
    position:absolute;
    left:2px;
    top:37px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../老板模式_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:492px;
    top:596px;
    width:74px;
    height:134px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:140px;
}

.u29 {
    position:absolute;
    left:2px;
    top:59px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:505px;
    top:831px;
    width:61px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../老板模式_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:356px;
    top:683px;
    width:74px;
    height:137px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:143px;
}

.u32 {
    position:absolute;
    left:2px;
    top:60px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../老板模式_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:356px;
    top:645px;
    width:74px;
    height:38px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:44px;
}

.u34 {
    position:absolute;
    left:2px;
    top:11px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../老板模式_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:223px;
    top:628px;
    width:74px;
    height:192px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:198px;
}

.u36 {
    position:absolute;
    left:2px;
    top:88px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:363px;
    top:831px;
    width:61px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:230px;
    top:831px;
    width:61px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../老板模式_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:401px;
    top:874px;
    width:25px;
    height:10px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u40 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../老板模式_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:315px;
    top:873px;
    width:25px;
    height:10px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u42 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:344px;
    top:873px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:431px;
    top:873px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:325px;
    top:516px;
    width:151px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:396px;
    top:107px;
    width:92px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../老板模式_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:515px;
    top:510px;
    width:78px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:31px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:74px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../老板模式_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:581px;
    top:519px;
    width:6px;
    height:5px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:11px;
}

.u50 {
    position:absolute;
    left:2px;
    top:-6px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:496px;
    top:656px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:496px;
    top:769px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:360px;
    top:661px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:360px;
    top:746px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:227px;
    top:708px;
    width:67px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:226px;
    top:612px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:360px;
    top:627px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:496px;
    top:580px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../老板模式_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:70px;
    top:900px;
    width:1024px;
    height:424px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:430px;
}

.u60 {
    position:absolute;
    left:2px;
    top:204px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:490px;
    top:921px;
    width:209px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_line {
    background-image: url('../老板模式_files/u62_line.png');
}

.u62_line {
    position:absolute;
    left:0px;
    top:4px;
    width:741px;
    height:3px;
}

.u62 {
    position:absolute;
    left:209px;
    top:1232px;
    width:741px;
    height:10px;
    
}

.u63_normal {
    background-image: url('../老板模式_files/u35_normal.png');
}

.u63_container {
    position:absolute;
    left:230px;
    top:1043px;
    width:74px;
    height:192px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:198px;
}

.u64 {
    position:absolute;
    left:2px;
    top:88px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../老板模式_files/u33_normal.png');
}

.u65_container {
    position:absolute;
    left:230px;
    top:1043px;
    width:74px;
    height:38px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:44px;
}

.u66 {
    position:absolute;
    left:2px;
    top:11px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../老板模式_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:305px;
    top:1189px;
    width:74px;
    height:47px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:53px;
}

.u68 {
    position:absolute;
    left:2px;
    top:16px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../老板模式_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:305px;
    top:1142px;
    width:74px;
    height:47px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:53px;
}

.u70 {
    position:absolute;
    left:2px;
    top:16px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:831px;
    top:1263px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:527px;
    top:1263px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:274px;
    top:1263px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../老板模式_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:484px;
    top:1159px;
    width:74px;
    height:76px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:82px;
}

.u75 {
    position:absolute;
    left:2px;
    top:30px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../老板模式_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:484px;
    top:1159px;
    width:74px;
    height:15px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:21px;
}

.u77 {
    position:absolute;
    left:2px;
    top:0px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../老板模式_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:559px;
    top:1106px;
    width:74px;
    height:130px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:136px;
}

.u79 {
    position:absolute;
    left:2px;
    top:57px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../老板模式_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:559px;
    top:975px;
    width:74px;
    height:130px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:136px;
}

.u81 {
    position:absolute;
    left:2px;
    top:57px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../老板模式_files/u74_normal.png');
}

.u82_container {
    position:absolute;
    left:766px;
    top:1159px;
    width:74px;
    height:76px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:82px;
}

.u83 {
    position:absolute;
    left:2px;
    top:30px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../老板模式_files/u76_normal.png');
}

.u84_container {
    position:absolute;
    left:766px;
    top:1158px;
    width:74px;
    height:15px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:21px;
}

.u85 {
    position:absolute;
    left:2px;
    top:0px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../老板模式_files/u78_normal.png');
}

.u86_container {
    position:absolute;
    left:841px;
    top:1105px;
    width:74px;
    height:130px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:136px;
}

.u87 {
    position:absolute;
    left:2px;
    top:57px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../老板模式_files/u80_normal.png');
}

.u88_container {
    position:absolute;
    left:841px;
    top:974px;
    width:74px;
    height:130px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:80px;
    height:136px;
}

.u89 {
    position:absolute;
    left:2px;
    top:57px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:232px;
    top:1242px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:309px;
    top:1242px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:489px;
    top:1242px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:566px;
    top:1242px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:771px;
    top:1242px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:848px;
    top:1242px;
    width:67px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../老板模式_files/u39_normal.png');
}

.u96_container {
    position:absolute;
    left:353px;
    top:1293px;
    width:25px;
    height:10px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u97 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../老板模式_files/u41_normal.png');
}

.u98_container {
    position:absolute;
    left:267px;
    top:1292px;
    width:25px;
    height:10px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u99 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:296px;
    top:1292px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:383px;
    top:1292px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../老板模式_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:528px;
    top:1293px;
    width:25px;
    height:10px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u103 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../老板模式_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:442px;
    top:1292px;
    width:25px;
    height:10px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u105 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:472px;
    top:1292px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:558px;
    top:1292px;
    width:44px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

