<!doctype html>
<html ng-app="microassistant">
<head>
    <meta charset="utf-8">
    <title>微企助手</title>
    <meta name="description" content="">
    <meta name="author" content="cray (285025600@qq.com)">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="components/lungo/lungo.css">
    <link rel="stylesheet" href="components/lungo/lungo.theme.css">
    <link rel="stylesheet" href="components/lungo/lungo.icon.css">
    <!-- App Stylesheet -->
    <link href="css/app.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="components/navigation/css/component.css" />
    <link href="components/navigation/css/lungo.css" rel="stylesheet" />
    <link href="components/navigation/css/lungo.theme.css" rel="stylesheet" />
	<!--csstransforms3d-shiv-cssclasses-prefixed-teststyles-testprop-testallprops-prefixes-domprefixes-load --> 
	<script src="components/navigation/js/modernizr.custom.25376.js"></script>
</head>

<body ng-controller="MainCtrl" class="perspective effect-airbnb">
    <div id="contentWraper" class="container"></div>
    <section id="account-login" data-transition="slide">
        <article class="active splash"  ng-controller="UserLoginMainCtrl">
            <img src="img/logo1.png" class="logo"/>
            <div class="form">
                <form name="UserLoginForm" id="form" ng-class="showerror?'showerror':''">
                <fieldset class="radius-top" data-icon="user">
                    <input type="email" name="emial" ng-model="User.email" ng-required="true"  placeholder="请输入邮箱" id="txt-signup-name" value="">
                </fieldset>
                <fieldset class="radius-bottom shadow" data-icon="lock">
                    <input type="password" name="pwd" ng-model="User.pwd" maxlength="18" ng-required="true"  placeholder="请输入密码" id="txt-signup-password" value="">
                </fieldset>
                <br/>
                <button class="anchor" data-icon="lock" data-icon="user" href="javascript:void(0)" ng-click="UserLogin()" data-label="登陆"></button>
                <button data-view-section="account-register" data-async="partials/account/register.html" class="secondary anchor" data-icon="home" data-label="员工注册"></button>
                <button data-view-section="account-entregister" data-async="partials/account/ent-register.html" class="secondary anchor" data-icon="home" data-label="企业注册"></button>
                </form>
            </div>
            <span class="copyright text thin">Copyright (C) 2013-2014 - <span class="text bold">微企助手</span></span>
        </article>
    </section>
    <section id="main" data-transition="slide">
        <header>
            <nav>
                <a href="javascript:void(0)" ng-tap="showMenu($event)" data-icon="menu"></a>
            </nav>
            <!--<img src="img/logo2.png" class="title centered">-->
            <nav class="on-right">
                <a href="javascript:void(0)"  ><abbr class="text tiny "></abbr></a>
            </nav>
        </header>

        <article id="main-article" class="active splash">
            <img src="img/logo1.png" class="logo"/>
            <p>
                欢迎使用微企助手！
            </p>
            <p>
                {{env}}
            </p>
            <span class="copyright text thin">Copyright (C) 2013-2014 - <span class="text bold">微企助手</span></span>
            <div style="display:none;">
                <a href="javascript:void(0)" id="tempLazyloadLink"></a>
            </div>
        </article>
    </section>
            <nav class="outer-nav left vertical">
				<a href="javascript:void(0)" class="icon-home" ng-click="menuToSection('main')">主页</a>
				<a href="javascript:void(0)" class="icon-product" ng-click="menuToSection('product-list','partials/products/list.html')">产品管理</a>
				<a href="javascript:void(0)" class="icon-sales" ng-click="menuToSection('sales-list','partials/sales/list.html')">销售管理</a>
				<a href="javascript:void(0)" class="icon-fina" ng-click="menuToSection('finance-list','partials/finance/list.html')">财务管理</a>
				<a href="javascript:void(0)" class="icon-custom" ng-click="menuToSection('client-list','partials/client/list.html')">客户管理</a>
			</nav>
    <!-- Lungo dependencies -->
    <!--<script src="components/jquery.js"></script>-->
    <script src="components/quojs/quo.js"></script>
    <script src="components/lungo/lungo.js"></script>
    <script src="components/lungo-fixed.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular/angular-touch.js"></script>
    <script src="components/angular/angular-animate.js"></script>
    <script src="components/lungo-angular.js"></script>
    <!--<script src="components/lungo-angular-bridge.js"></script>-->
    <!-- LungoJS - Sandbox App -->
    <script src="scripts/core.js"></script>
    <script src="scripts/server-models.js"></script>
    <script src="scripts/models/usermodel.js"></script>
    <script src="scripts/models/respicmodel.js"></script>
    <script src="scripts/models/productmodel.js"></script>
    <script src="scripts/models/salesmodel.js"></script>
    <script src="scripts/models/financemodel.js"></script>
    <script src="scripts/models/clientmodel.js"></script>
    <script src="scripts/account/controllers.js"></script>
    <script src="scripts/product/controllers.js"></script>
    <script src="scripts/sales/controllers.js"></script>
    <script src="scripts/finance/controllers.js"></script>
    <script src="scripts/client/controller.js"></script>
    <script src="scripts/app.js"></script>
	<script src="components/navigation/js/menu.js"></script>
    <script type="text/javascript">
        (function () {
            var link = Lungo.dom('#tempLazyloadLink');

            var sectionDicts = [];

            var registerSection = function(name,id,src){
                sectionDicts[name] = { id: id, src: src };
            };

            var showSection = function (id, src) {
                link.data('view-section', id);
                if (!Lungo.dom('#' + id).length)
                    link.data('async', src);
                else
                    link.removeAttr('data-async');
                link.trigger('tap');
            };

            angular.loadSection = function (name) {
                var section = sectionDicts[name];
                showSection(section.id, section.src);
            };
            registerSection('sales-list', 'sales-list', 'partials/sales/list.html');
            registerSection('sales-chance-detail', 'sales-chance-detail', 'partials/sales/chancedetail.html');
            registerSection('sales-chance-list', 'sales-chance-list', 'partials/sales/chancelist.html');
            registerSection('sales-visit-create', 'sales-visit-create', 'partials/sales/visitcreate.html');
            registerSection('sales-visit-detail', 'sales-visit-detail', 'partials/sales/visitdetail.html');
            registerSection('sales-visit-list', 'sales-visit-list', 'partials/sales/visitlist.html');
            registerSection('sales-contract-list', 'sales-contract-list', 'partials/sales/contractlist.html');
            registerSection('sales-contract-detail', 'sales-contract-detail', 'partials/sales/contractdetail.html');
        })();
    </script>
    <script>
        var MicroAssistantApp = {};
        MicroAssistantApp.pull = function (selector) {
            if (MicroAssistantApp[selector])
                return;
            MicroAssistantApp[selector] = new Lungo.Element.Pull(selector, {
                onPull: "",
                onRelease: "",
                onRefresh: "",
                callback: function () {
                    //alert("Pull & Refresh completed!");
                    Lungo.dom(selector).trigger('pullrefresh');
                    MicroAssistantApp[selector].hide();
                }
            });
        };
        Lungo.init({
            name: 'microassistant',
            version: '1.0',
            resources: [],
            history: false
        });
        Lungo.Events.init({
            'load section#product-list': function (event) {
                MicroAssistantApp.pull('section#product-list article');
            },
            'load section#finance-list': function (event) {
                MicroAssistantApp.pull('section#finance-list article');
            },
            'load section#client-list': function (event) {
                MicroAssistantApp.pull('section#client-list article');
            },
            'load section#sales-chance-list': function (event) {
                MicroAssistantApp.pull('section#sales-chance-list article');
            },
            'load section#sales-visit-list': function (event) {
                MicroAssistantApp.pull('section#sales-visit-list article');
            },
            'load section#sales-contract-list': function (event) {
                MicroAssistantApp.pull('section#sales-contract-list article');
            }
        });
        /*
        (function () {
            var pulllist = [
            'section#product-list',
            'section#finance-list',
            'section#client-list',
            'section#client-list'
            ];

            for (var i = 0; i < pulllist.length; i++) {
                Lungo.dom(pulllist[i]).trigger('load');
            }
        })();*/
    </script>
    <!--<script src="cordova.js"></script>
    <script src="http://192.168.1.7:8080/target/target-script-min.js#anonymous"></script>-->
</body>
</html>

