    	<div class="floatBox" id="chanceDetailBox" style="width:0;right:0;top:0;">
        	<div class="fBg"></div>
            <div class="fCon clearfix">
                <i class="arrR" ng-click="hideChanceDetail()"></i>
            	<ul class="ul-f1">
                	<li class="clearfix"><span class="colorBlue namS">客户类型：</span><span class="conS">企业客户</span><i class="editIcon"></i></li>
                    <li class="clearfix"><span class="colorBlue namS">机会类型：</span><span class="conS"><input type="text" class="textS"/></span><i class="editIcon"></i></li>
                    <li class="clearfix"><span class="colorBlue namS">机会描述：</span><span class="conS"><!--<textarea style="width:170px; height:120px; border-radius:0;"></textarea>--><div class="textA">您好吗</div></span><i class="editIcon"></i></li>
                    <li class="clearfix"><span class="colorBlue namS">联系人：</span><span class="conS">王晓</span><i class="editIcon"></i></li>
                    <li class="clearfix"><span class="colorBlue namS">手机：</span><span class="conS">1234567890</span><i class="editIcon"></i></li>
                    <li class="clearfix"><span class="colorBlue namS">座机：</span><span class="conS">王晓</span><i class="editIcon"></i></li>
                    <li class="clearfix"><span class="colorBlue namS">邮箱：</span><span class="conS">1234567890</span><i class="editIcon"></i></li>
                    <li class="clearfix"><span class="colorBlue namS">录入时间：</span><span class="conS">2013/07/31</span><i class="editIcon"></i></li>
                    <li class="clearfix"><span class="conS"><a href="#">添加其他联系方式</a></span></li>
                </ul>
                <div class="redBtn clearfix"><a href="#fakelink" class="btn btn-large btn-block btn-danger">拜访该客户</a></div>
            </div>
        </div>
