    	<div class="floatBox pactBox" id="contractDetailBox" style="width:0;right:0;top:0;">
        	<div class="fBg"></div>
            <div class="fCon clearfix">
                <i class="arrR" ng-click="hideContractDetail()"></i>
                <ul class="pact-ul clearfix">
                	<li class="cur">合同详情</li>
                    <li>合同动态</li>
                </ul>
            	<ul class="ul-f1">
                	<li class="clearfix"><span class="colorBlue namS">合同名称：</span><span class="conS">鼠标采购合同</span></li>
                    <li class="clearfix"><span class="colorBlue namS">合同编号：</span><span class="conS">20130812173645
</span></li>
                    <li class="clearfix"><span class="colorBlue namS">客户：</span><span class="conS">四川新颖顺信息技术有限公司</span></li>
                    <li class="clearfix"><span class="colorBlue namS">合同金额：</span><span class="conS">896,600</span></li>
                    <li class="clearfix"><span class="colorBlue namS">付款方式：</span><span class="conS">分期 共<b class="colorRed">3</b> 期
</span></li>
                    <li class="clearfix"><span class="colorBlue namS">合同有效期：</span><span class="conS">2013/07/12 <span class="colorBlue">至</span>  2014/07/12</span></li>
                    <li class="clearfix"><span class="colorBlue namS">合同承办人：</span><span class="conS">张三
</span></li>
                    <li class="clearfix"><span class="colorBlue namS">合同签订时间：</span><span class="conS">2013/07/31</span></li>
                    <li class="clearfix"><span class="colorBlue namS">附件：</span><span class="conS">
                    <div class="textpact">
                        <i class="textIcon"></i>
                        <div class="textNam">鼠标购买合同.doc</div>
                        <a href="#" class="downloadIcon"></a>
                	</div>
                    <div class="textpact">
                        <i class="textIcon"></i>
                        <div class="textNam">鼠标购买合同.doc</div>
                        <a href="#" class="downloadIcon"></a>
                	</div>
                    <div class="textpact">
                        <i class="textIcon"></i>
                        <div class="textNam">鼠标购买合同.doc</div>
                        <a href="#" class="downloadIcon"></a>
                	</div>
                </span></li>
                </ul> 
                <!--<ul class="ul-f3">
                    <li class="clearfix cur">
                        <div class="li-timeb colorRed">
                           三期
                            <span class="cir-w"><i></i></span>
                        </div>
                        <div class="li-conb">
                            <div class="li-boxs">
                                <i></i>
                                <div class="tim-list"><div class="colorBlue">收款时间：</div>2013/06/02</div>
								<div class="tim-list"><div class="colorBlue">实际收款时间：</div><span class="colorRed">未到收款日</span></div>
                            </div>
                        </div>
                    </li> 
                    <li class="clearfix none">
                        <div class="li-timeb colorRed">
                           二期
                            <span class="cir-w"><i></i></span>
                        </div>
                        <div class="li-conb">
                            <div class="li-boxs">
                                <i></i>
                                <div class="tim-list"><div class="colorBlue">收款时间：</div>2013/06/02</div>
								<div class="tim-list"><div class="colorBlue">实际收款时间：</div><span class="colorRed">未到收款日</span></div>
                            </div>
                        </div>
                    </li>                            
                </ul>-->             
            </div>
        </div>
