/MicroAssistant/MicroAssistantPortal/obj
/MicroAssistant/DLL
/MicroAssistant/MicroAssistantMvc3/bin
/MicroAssistant/MicroAssistantMvc3/obj
/MicroAssistant/MicroAssistantMvc.Tests/bin
/MicroAssistant/MicroAssistantMvc/bin
/MicroAssistant/MicroAssistantMvc/obj
/MicroAssistant/MicroAssistantMvc.Tests/obj
