<div id="productEditModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myPEModalLabel">编辑产品</h3>
      </div>
      <div class="modal-body">
        <div class="popupBox clearfix">
    	<div class="listBox">
            <ul>
            	<li ng-class="productEditPageOne?'cur':''"><i></i>产品资料</li>
                <li ng-class="!productEditPageOne?'cur':''"><i></i>产品报价</li>
            </ul>
        </div>
        <form name="ProductEditForm" ng-class="showerror?'showerror':''">
        <div class="madeBox" ng-show="productEditPageOne">
        <ul class="listContent">
        	<li><span class="span1">产品名称：</span><span><input type="text" name="PName" ng-model="EditProduct.PName" ng-required="true" placeholder="请输入产品名称" class="span3"></span></li>
            <li><span class="span1">产品分类：</span><span>
            <select class="span3" ng-model="EditProduct.PTypeId" ng-options="t.name for t in PTypes ">
			</select>
				</span></li>
            <li><span class="span1">单位：</span><span>
<label class="checkbox-inline">
  <input type="radio" name="optionsRadios" ng-model="EditProduct.Unit" value="option1"> 个&nbsp;
</label>
<label class="checkbox-inline">
  <input type="radio" name="optionsRadios" ng-model="EditProduct.Unit" value="option2"> 套&nbsp;
</label>
<label class="checkbox-inline">
  <input type="radio" name="optionsRadios" ng-model="EditProduct.Unit" value="option3"> 瓶&nbsp;
</label>
<label class="checkbox-inline">
  <input type="radio" name="optionsRadios" ng-model="EditProduct.Unit" value="option3"> 吨&nbsp;
</label>
<label class="checkbox-inline">
  <input type="radio" name="optionsRadios" ng-model="EditProduct.Unit" value="option3"> 袋
</label>
				</span></li>
            <li><span class="span1">&nbsp;</span><span class="spanBtn clearfix"><a href="" class="btn btn-large btn-block btn-success" ng-click="editProductPageNext()">下一步</a></span></li>
        </ul>
        </div>
        <div class="madeBox" ng-hide="productEditPageOne">
        <ul class="listContent">
        	<li><span class="span1">采购数量：</span><span><input type="number" ng-model="EditProduct.StockCount" ng-required="true" placeholder="Inactive" class="span3"></span></li>
            <li><span class="span1">采购单价：</span><span><input type="number" ng-model="EditProduct.PurchasePrice"  ng-required="true" placeholder="Inactive" class="span3"></span></li>
            <li><span class="span1">&nbsp;</span><span class="priceBox">采购总价：<b class="colorBlue">{{(EditProduct.StockCount || 0)*(EditProduct.PurchasePrice||0)}}</b><span class="colorGray">元</span></span></li>
            <li><span class="span1">&nbsp;</span><span class="spanBtn clearfix"><a href="" class="btn btn-large btn-block btn-success" ng-click="ProductEditSubmit()">确 定</a><a href="" class="btn btn-large btn-block btn-success" ng-click="productEditPageOne = true">上一步</a></span></li>
        </ul>
        </div>
        </form>
    </div>
      </div>
    </div>
