* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u2_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u4_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u7_normal.png");
}

* html .u9_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u9_line.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u10_normal.png");
}

* html .u12_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u12_line.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u14_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u14_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u14_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u14_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u26_normal.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u28_normal.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u33_normal.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u35_normal.png");
}

* html .u37_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u37_normal.png");
}

* html .u39_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u39_normal.png");
}

* html .u52_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u52_normal.png");
}

* html .u60_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u39_normal.png");
}

* html .u68_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u52_normal.png");
}

* html .u76_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u39_normal.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u52_normal.png");
}

* html .u92_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u39_normal.png");
}

* html .u100_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u52_normal.png");
}

* html .u108_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u108_line.png");
}

* html .u109_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u109_line.png");
}

* html .u110_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u110_line.png");
}

* html .u111_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u111_line.png");
}

* html .u112_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u112_line.png");
}

* html .u113_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u113_line.png");
}

* html .u114_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u114_normal.png");
}

* html .u116_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u116_normal.png");
}

* html .u118_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u118_normal.png");
}

* html .u120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u118_normal.png");
}

* html .u122_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u122_normal.png");
}

* html .u124_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u124_line.png");
}

* html .u125_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u125_normal.png");
}

* html .u127_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u127_normal.png");
}

* html .u129_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u125_normal.png");
}

* html .u131_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u131_normal.png");
}

* html .u133_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u127_normal.png");
}

* html .u135_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u135_normal.png");
}

* html .u137_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u137_normal.png");
}

* html .u140_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u140_normal.png");
}

* html .u142_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u142_normal.png");
}

* html .u145_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u145_normal.png");
}

* html .u147_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="添加采购单_files/u142_normal.png");
}

