<!DOCTYPE html>
<html>
<head>
    <title>头像上传</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <script src="../../js/jquery.js"></script>
    <script src="../../scripts/core.js"></script>
    <script src="../../js/jscop/jquery.Jcrop.js"></script>
    <script src="../../js/jscop/jquery.Jcrop.extend.js"></script>
    <script src="../../js/uploadify/jquery.uploadify.js"></script>
    <script src="../../js/uploadify/uploadify.extention.js"></script>
    <link rel="stylesheet" type="text/css" href="../../js/uploadify/uploadify.css">
    <script type="text/javascript">

        jQuery(document).ready(function () {
            $('#imgLoad').bind('load', function () {
                var img = $(this);
                var imgWidth = img.width();
                var imgHeight = img.height();
                img.attr('src', '');


                var jcrop_api,
                    boundx,
                    boundy,


                    $container = $('#container'),
                    $photowraper = $('#photo-wraper'),
                    $photo = $('#photo-wraper img'),
                    $preview = $('#preview-pane'),
                    $pcnt = $('#preview-pane .preview-container'),
                    $pimg = $('#preview-pane .preview-container img'),
                    $circle = $('<img src="../../img/c-png-2.png" style="position: absolute;z-index: 350" />'),

                    xsize = $pcnt.width(),
                    ysize = $pcnt.height(),
                    widthScale = imgWidth / $container.width(),
                    heightScale = imgHeight / $container.height();
                    
                var disWidth, disHeight, selectWidth, selectHeight;
                    if (widthScale > 1 || heightScale > 1) {
                        if (widthScale > heightScale) {
                            disWidth = $container.width() - 4;
                            disHeight = parseInt(imgHeight / widthScale);
                            selectWidth = disHeight;
                            selectHeight = disHeight;
                        } else {
                            disWidth = parseInt(imgWidth / heightScale);
                            disHeight = $container.height() - 4;
                            selectWidth = disWidth;
                            selectHeight = disWidth;
                        }
                    }
                    else {
                        disWidth = imgWidth;
                        disHeight = imgHeight;
                        selectWidth = $container.height() - 4;
                        selectHeight = $container.height() - 4;
                    }
                    $photo.css({ width: disWidth + "px", height: disHeight + "px" });
                    $photowraper.css({ width: disWidth + "px", height: disHeight + "px" });

                    var selectLeft = Math.floor((disWidth - selectWidth) / 2), selectTop = Math.floor((disHeight - selectHeight) / 2);

                    $photo.Jcrop({
                        onChange: updatePreview,
                        onSelect: updatePreview,
                        setSelect: [0,0,1,1],
                        aspectRatio: 1
                    }, function () {

                        var bounds = this.getBounds();
                        boundx = bounds[0];
                        boundy = bounds[1];

                        jcrop_api = this;
                        jcrop_api.animateTo([selectLeft, selectTop, selectLeft + selectWidth, selectTop + selectHeight]);
                        $('#photo-wraper .jcrop-hline').parent().append($circle);
                    });

                    function updatePreview(c) {
                        if (parseInt(c.w) > 0) {
                            var rx = xsize / c.w;
                            var ry = ysize / c.h;
                            $circle.css({ width: c.w + 'px', height: c.h + 'px' })
                            $pimg.css({
                                width: Math.round(rx * boundx) + 'px',
                                height: Math.round(ry * boundy) + 'px',
                                marginLeft: '-' + Math.round(rx * c.x) + 'px',
                                marginTop: '-' + Math.round(ry * c.y) + 'px'
                            });
                        }
                    };

            });
            $("#imgLoad").attr('src', '../../img/testpic.jpg');
            $('#selected_btn').cuploadify({
                'formData': {
                    'token': 'sss',
                    'picHeight': 0,
                    'picWidth':0

                },
                'swf': '../../js/uploadify/uploadify.swf',
                'uploader': $sitecore.urls["uploadPic"],
                'height': 70,
                'width': 190,
                onUploadComplete: function (response) {

                }
            });
        });
</script>
    <link href="../../js/jscop/jquery.Jcrop.css" rel="stylesheet" />

    <style type="text/css">

        #preview-pane {
            position:relative;
            padding: 6px;
            border: 1px rgba(0,0,0,.4) solid;
            background-color: white;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        }


        #preview-pane .preview-container {
            width: 180px;
            height: 180px;
            overflow: hidden;
        }
    .btn{display:block;width:140px;height:40px;text-align:center;font-size: 17px;line-height: 40px;color:#fff;text-decoration: none;}
    .selected{background-color:#50A729;}
	.reselect{background-color:#e74c3c;}	
    </style>

</head>
<body>
    <div style="width: 850px; height: 460px; margin-top: 30px;">
        <div style="width: 600px; height: 460px; border: 1px solid #666; float: left; overflow: hidden;" id="container">
            <div  id="photo-wraper" style="margin:0 auto;border:solid 1px #999;">
                <img src="../../img/testpic.jpg" alt="" />
            </div>
        </div>
        <div style="width: 200px; height: 460px; margin-left: 20px; float: right;">
            <div id="preview-pane" style="width:180px;margin:10px 0;">
                <img src="../../img/c-png-2-white.png" alt="" style="width:180px;height:180px;position:absolute;" />
                <div class="preview-container">
                    <img src="../../img/testpic.jpg" class="jcrop-preview" alt="Preview" />
                </div>
            </div>
            <a href="javascript:void(0)" id="selected_btn" class="btn selected">本地照片</a>
            <a href="javascript:void(0)" id="reselect_btn" class="btn selected" style="margin: 20px 0;">保存头像</a>
        </div>
    </div>
    <div style="filter:alpha(opacity=0); -moz-opacity:0;-khtml-opacity: 0;opacity: 0;">
        <img src="" id ="imgLoad" />
    </div>
</body>
</html>


