<h1 class="titSec">财务管理</h1>
<ul class="clearfix salesList financeList">
    <li ng-class="steps=='receivable'?'cur':''">
        <a ng-href="#!/finance/receivable/1">应收款</a>
        <span class="arrowD"></span>
    </li>
    <li ng-class="steps=='payable'?'cur':''">
        <a ng-href="#!/finance/payable/1">应收款</a>
        <span class="arrowD"></span>
    </li>
</ul>
<div class="searchBox">
    <span class="seCon">
        <input type="text" class="setext" placeholder="Type something…"><input type="button" class="seBtn"></span>
</div>
<div class="tablePad" ng-show="steps=='receivable'?'true':'false'">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th width="30%">客户名称</th>
                <th width="25%">合同编号</th>
                <th width="25%">本期应收金额/时间</th>
                <th width="20%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="receivableitem in receivables">
                <td>1</td>
                <td>四川新迎顺信息技术有限公司</td>
                <td class="colorBlue">20130515090301001</td>
                <td><span class="money">1000.00元</span><b class="colorBlue">2013/07/31</b></td>
                <td><a href="" role="button" ng-click="receivableDetail()" data-toggle="modal">详情</a>|<a href="#myModal" role="button" data-toggle="modal">确认收款</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="tablePad" ng-show="steps=='payable'?'true':'false'">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th width="30%">采购批次</th>
                <th width="10%">单价</th>
                <th width="15%">数量</th>
                <th width="10%">总价</th>
                <th width="20%">提交时间</th>
                <th width="15%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="payableitem in payables">
                <td>1</td>
                <td>20130515090301001</td>
                <td class="colorBlue">67.00</td>
                <td>1000 件</td>
                <td class="colorRed">67.00</td>
                <td>2013/09/13  14:45</td>
                <td><a href="#myModal" role="button" data-toggle="modal">确认收款</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-include="'partials/finance/financepayment-detail.html'" ng-controller="FinaceDetailCtrl"></div>
<!--<div ng-include="'partials/product/product-edit.html'" ng-controller="ProductEditCtrl"></div>
<div ng-include="'partials/product/product-purchase.html'" ng-controller="ProductPurchaseCtrl"></div>-->
