<!DOCTYPE html>
<html ng-app="ngLoadMask">
<head>
    <title>微企助手-登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/flat-ui.css" rel="stylesheet" />
    <link href="css/master.css" rel="stylesheet" />
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.pack.js"></script>
    <script src="js/angular-loadmask.js"></script>
    <script src="scripts/core.js"></script>
    <script src="scripts/user/controllers.js"></script>
    <script src="scripts/utilities.js"></script>
    <link href="js/jquery-loadmask/jquery.loadmask.css" rel="stylesheet" />
    <script src="js/jquery-loadmask/jquery.loadmask.js"></script>
    <link href="js/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <script src="js/fancybox/jquery.fancybox.js"></script>
    <script src="js/fancybox.msgbox.js"></script>
    <style type="text/css">
        #form.showerror .ng-invalid {
            border:2px solid #fa787e;
        }

        #form .ng-invalid.ng-dirty {
            border:2px solid #f25749;
        }

        #form .ng-valid.ng-dirty {
            border:2px solid #1ABC9C;
        }
    </style>
</head>
<body class="bg-blue" ng-controller="UserLoginMainCtrl">
    <div class="logo-box clearfix">
		<div class="logo1"></div>
        <div class="cp-box">
            <a href="enterprise-register.html"  class="blue-btn">企业注册</a>
            <a href="register.html"  class="blue-btn">员工注册</a>
        </div>
    </div>
    <div class="main clearfix m-box">
        <form name="UserLoginForm" id="form" ng-class="showerror?'showerror':''">
            <div class="login-box" id="loginBox">
                <h1>登 录</h1>
                <div class="input-box">
                    <div class="icon-box"><i class="peop-icon"></i></div>
                    <input type="email" name="emial" ng-model="User.email" ng-required="true" title="请输入登录邮箱"  placeholder="请输入登录邮箱" />
                    <p class="error_info colorRed" ng-show="UserLoginForm.emial.$dirty && !UserLoginForm.emial.$valid">请输入正确的邮箱地址</p>
                </div>

                <div class="input-box">
                    <div class="icon-box"><i class="passw-icon"></i></div>
                    <input type="password" name="pwd" ng-model="User.pwd" maxlength="18" title="请输入登录密码"  placeholder="请输入登录密码"  ng-required="true"/>
                </div>
                <span class="alert alert-danger" ng-show="LoginErrors&&LoginErrors.length" style="margin-left:60px;">{{LoginErrors}}</span>
                <div class="sc-box"><a href="javascript:void(0)" ng-click="UserLogin()" class="btn btn-large btn-block btn-danger"><i class="drawIcon"></i></a></div>
                <div class="f-l"><a href="#" target="_blank" class="grayLink">忘记密码？</a></div>
            </div>
        </form>
    </div>
    <div>
    </div>
</body>
</html>
