* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u2_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u4_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u7_normal.png");
}

* html .u9_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u9_line.png");
}

* html .u10_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u10_normal.png");
}

* html .u12_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u12_line.png");
}

* html .u14_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u14_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u14_normal.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u14_normal.png");
}

* html .u23_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="leftnav_files/u14_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u26_normal.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u29_normal.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u31_normal.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u33_normal.png");
}

* html .u35_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u35_line.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u36_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u40_normal.png");
}

* html .u42_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u36_normal.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u44_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u47_normal.png");
}

* html .u49_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u49_normal.png");
}

* html .u51_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u51_normal.png");
}

* html .u53_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u53_normal.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u55_normal.png");
}

* html .u57_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u57_normal.png");
}

* html .u64_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u64_normal.png");
}

* html .u69_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u69_line.png");
}

* html .u70_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u70_line.png");
}

* html .u71_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u71_line.png");
}

* html .u72_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u72_line.png");
}

* html .u73_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u73_line.png");
}

* html .u74_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u74_normal.png");
}

* html .u78_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u78_normal.png");
}

* html .u81_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u81_normal.png");
}

* html .u84_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u84_normal.png");
}

* html .u86_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u86_normal.png");
}

* html .u88_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u88_normal.png");
}

* html .u90_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u90_normal.png");
}

* html .u93_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u93_line.png");
}

* html .u94_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u84_normal.png");
}

* html .u96_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u86_normal.png");
}

* html .u98_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u88_normal.png");
}

* html .u100_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u90_normal.png");
}

* html .u102_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u74_normal.png");
}

* html .u106_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u106_line.png");
}

* html .u108_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u108_normal.png");
}

* html .u110_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u47_normal.png");
}

* html .u112_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u49_normal.png");
}

* html .u114_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u51_normal.png");
}

* html .u116_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u53_normal.png");
}

* html .u118_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u55_normal.png");
}

* html .u120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u57_normal.png");
}

* html .u126_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u64_normal.png");
}

* html .u130_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u130_line.png");
}

* html .u131_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u131_line.png");
}

* html .u132_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u132_line.png");
}

* html .u133_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u133_line.png");
}

* html .u136_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u78_normal.png");
}

* html .u139_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u81_normal.png");
}

* html .u143_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u143_line.png");
}

* html .u146_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u146_line.png");
}

* html .u150_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u108_normal.png");
}

* html .u152_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u152_line.png");
}

* html .u154_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u74_normal.png");
}

* html .u157_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u74_normal.png");
}

* html .u160_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u160_normal.png");
}

* html .u162_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u162_normal.png");
}

* html .u165_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u165_normal.png");
}

* html .u168_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u168_line.png");
}

* html .u170_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="客户信息_files/u170_line.png");
}

