@charset "utf-8";
/* CSS Document */
a{text-decoration:none;}
a:hover{text-decoration:underline;}
/*=== 颜色样式 ===*/
.colorBlue{color:#25aae2;}
.colorGray{color:#DDDDDD;}
.colorRed{color:#f25749;}
.colorGreen{color:#50a729;}
.colorGrayadd { color:#656565;}
.writeLink:link,.writeLink:visited,.writeLink:active{
	color:#FFFFFF;
	text-decoration:none;
	}
.writeLink:hover{
	color:#FFFFFF;
	text-decoration:underline;
	}
.grayLink:link,.grayLink:visited,.grayLink:active{
	color:#999999;
	text-decoration:none;
	}
.grayLink:hover{
	color:#999999;
	text-decoration:underline;
	}
.redLink:link,.redLink:visited,.redLink:active{
	color:#f25749;
	text-decoration:none;
	}
.redLink:hover{
	color:#f25749;
	text-decoration:underline;
	}
/*=== 颜色样式 END ===*/
.flat-l{float:left;}
.flat-r{float:right;}
/*===  图标样式 ===*/
.homeIcon,.peopleIcon,.productIcon,.saleIcon,.financeIcon,.clientIcon,.askIcon,.arrowD,.pcIcon,.phoneIcon,.addG,.addBtn,.delBtn,.arrR,.editIcon,.editIcon2,.aClose,.mapIcon,.closeIcon,.peo-wIcon,.tel-wIcon,.textIcon,.downloadIcon,.drawIcon,.boy-icon,.girl-icon,.b-i,.g-i,.sales-oppr-icon,.visit-icon,.contract-icon,.sales-follow-icon,.com-pIcon,.sim-pIcon,.email-icon,.num-icon{background:url(../img/icon.png) no-repeat; display:inline-block; border:none;}
.pcIcon{background-position:-60px -139px; width:29px; height:27px;}
.homeIcon{background-position:-31px -122px; width:18px; height:16px;}
.homeIcon:hover{background-position:-1px -122px;}
.peopleIcon{background-position:-31px -150px; width:17px; height:19px;}
.peopleIcon:hover{background-position:-1px -150px;}
.productIcon{background-position:-31px -182px; width:18px; height:16px;}
.productIcon:hover{background-position:-2px -182px;}
.clientIcon{background-position:-40px -419px; width:18px; height:20px;}
.clientIcon:hover{background-position:-2px -419px;}
.financeIcon{background-position:-40px -386px; width:18px; height:19px;}
.financeIcon:hover{background-position:-2px -386px;}
.saleIcon{background-position:-39px -451px; width:24px; height:25px;}
.saleIcon:hover{background-position:0 -429px;}



.askIcon{background-position:-276px -275px; width:24px; height:42px;}
.askIcon:hover{background-position:-276px -275px;}
.arrowD{background-position:-110px -94px; width:9px; height:6px;}
.addBtn{background-position:0 -82px; width:26px; height:25px;}
.delBtn{background-position:-43px -82px; width:25px; height:25px;}
.bentArrow{background:url(../img/arrowBg.png) no-repeat; width:146px; height:36px;}
.bentArrow.on{background-position:0 -50px;}
.arrR{background-position:-179px -129px; width:25px; height:25px; cursor:pointer;}
.editIcon{background-position:-108px -140px; width:11px; height:11px;}
.editIcon2{background-position:-104px -219px; width:12px; height:12px;}
.closeIcon{background-position:-148px -219px; width:9px; height:10px;}
.aClose{background-position:-104px -172px; width:19px; height:19px;}
.mapIcon{background-position:-144px -241px; width:19px; height:25px;}
.peo-wIcon{background-position:0 -296px; width:18px; height:19px;}
.tel-wIcon{background-position:0 -355px; width:17px; height:16px;}
.textIcon{background-position:-152px -288px; width:11px; height:15px;}
.downloadIcon{background-position:-176px -284px; width:15px; height:13px; cursor:pointer;}
.drawIcon{background-position:-178px -347px; width:31px; height:24px;}
.boy-icon{background-position:-99px -534px; width:10px; height:13px;}
.girl-icon{background-position:-99px -509px; width:12px; height:15px;}
.b-i{background-position:-96px -574px; width:9px; height:10px;}
.g-i{background-position:-96px -588px; width:10px; height:12px;}
.sales-oppr-icon{background-position:-279px -329px; width:19px; height:34px;}
.visit-icon{background-position:-256px -227px; width:40px; height:26px;}
.contract-icon{background-position:-268px -1px; width:31px; height:30px;}
.sales-follow-icon{background-position:-261px -122px; width:38px; height:25px;}
.com-pIcon{background-position:-264px -429px; width:36px; height:33px;}
.sim-pIcon{background-position:-271px -380px; width:29px; height:33px;}
/*===  图标样式 END ===*/


/*=== 弹出框样式 ===*/
.modal{width:830px; margin-left:-435px;border-radius:0;}
.modal .modal-body{max-height:530px; padding:0;}
.modal-header h3{font-family:"微软雅黑"; font-weight:normal; color:#25aae2; font-size:16px;}
.popupBox{width:870px; min-height:530px; background:#ffffff;}
.popupBox2{width:1100px;}
.listBox{width:130px;min-height:530px;float:left; padding-left:20px; background-color:#F0F0F0;}
.listBox h2{font-size:16px; font-family:"微软雅黑"; font-weight:normal; color:#25aae2; height:25px; line-height:25px; margin:5px 0 20px 0;}
.listBox ul{border-left:2px solid #DDDDDD; margin-left:10px; margin-top:15px;}
.listBox li{font-size:16px; font-weight:600; color:#DDDDDD; height:30px; line-height:30px; list-style:none; margin-bottom:60px;}
.listBox li i{background:url(../img/icon.png) no-repeat -173px -82px; width:30px; height:30px; line-height:30px; display:inline-block; margin:0 10px -10px -15px; font-style:normal;  text-align:center; color:#b3b3b3;}
.listBox li.cur{color:#f25749;}
.listBox li.cur i{background-position:-135px -82px;color:#FFFFFF;}
.madeBox{width:680px;min-height:530px; float:left;position:relative;}
.listContent{padding:35px 0 0 25px; margin:0; }
.peopleInfo{padding-left:20px;}
.listContent li{list-style:none; line-height:40px; padding-bottom:20px;}
.listContent li span{}
.listContent li span .addBtn{width:30px; margin-top:-8px;}
.listContent li .span3{width:266px; border-radius:0; margin-right:10px;}
.listContent li select.span3{width:280px;}
.listContent li .span1{width:80px; text-align:right; padding-right:10px; font-size:16px;display:inline-block;}
.listContent li .priceBox,.listContent li .profit{width:254px; height:41px; border:2px solid #CCCCCC; line-height:41px; background:#FFFFFF; font-size:16px; padding:0 10px;display:inline-block;}
.listContent li .profit{width:340px;}
.listContent li .profit .pfD{width:169px; border-right:2px solid #CCCCCC; margin-right:10px;display:inline-block;}
.listContent li .priceBox .colorGray,.listContent li .priceBox b{font-size:18px;}
.listContent li .priceBox b{ margin:0 5px;}
.listContent li .spanBtn{margin-left:0;}
.listContent li .spanBtn a{float:left; width:90px; margin:0 20px 0 0;}
.listContent li textarea{border-radius:0;}
.checkbox input, .radio input{display:inline-block;}
.listContent li label{display:inline-block;}
.listContent li .radio input{background:none;}
.checkbox.checked, .radio.checked{ color:#666666;}
.btnCenter{text-align:center;}
.btnCenter a{width:90px; display:inline-block;}
.listContent li.checkBox{margin:-25px 0 0 0;}
.listContent li.checkBox input{margin:0 5px 0 0;}
.listContent li .selectS,.listContent li .selectS2{border: 2px solid #bdc3c7; width:280px; height:35px;}
.listContent li .selectS2{width:135px; margin-right:10px;}
.pact-w{width:500px;}
.pact-w li .span1{width:120px; position:relative;}
.pact-w li .span1 b{position:absolute; right:-140px; top:28px; font-weight:normal;}
.textpact{width:200px; height:40px; line-height:40px; background:#f5f5f5;}
.textpact i{margin:12px 10px 0 10px; float:left;}
.textpact .textNam{width:140px; float:left; color:#666; font-size:14px;}
.uploadBox{width:1050px; float:left; padding-left:50px;}
.uploadBox .uploadBtn{width:150px; float:left;}
.uploadBox .textBox{float:left; width:900px;}
.uploadBox .textBox .textpact{ float:left; margin:0 0 20px 20px;}
.saveBox{text-align:right; float:left; width:1030px; padding-bottom:20px;}
.saveBox span{width:150px; display:inline-block;}
.comTitle{width:340px; height:30px; line-height:30px; color:#f25749; font-size:18px; margin:20px 0 10px 25px;}
.paymentList{list-style:none;}
.paymentList li{line-height:35px;}
.paymentList li .span1{display:inline-block; width:100px; color:#25aae2; margin-left:0;}
.paymentList li .span2{float:left; margin-left:0; line-height:30px;}
.popupBox3{width:280px; height:150px; background:#FFFFFF;text-align:center;}
.popupBox3 h1{font-size:16px; }
.popupBox3 .btnbox span{width:80px; display:inline-block; margin:10px;}
.popupBox3 .btnbox span a{line-height:30px; padding:0 5px;}
/*=== 弹出框样式 END ===*/
.navbar{min-width:960px;width:100%;height:50px; background:#34495E; margin-bottom:0; position:fixed; z-index:9999;}
.conBg{background:#f0f0f0;}
.Nav{width:170px; position:fixed; top:50px; left:0; background-color:#ecf0f5;}
.headImg{width:170px; height:60px; text-align:center; padding:20px 0;}
.headImg img{border-radius:40px; height:60px; width:60px;}
.navList{margin-left:0;border-top:1px solid #e5e3d4;}
.navList li{text-align:center; height:45px; list-style:none; width:170px; font-size:12px; margin-bottom:1px; border-bottom:1px solid #e5e3d4;border-right:1px solid #e5e3d4; color:#6d6b6c;}
.navList li a{color:#6d6b6c;}
.navList li .homeIcon,.navList li .productIcon,.navList li .clientIcon{float:left; margin:15px 0 0 18px;}
.navList li .saleIcon,.navList li .financeIcon,.navList li .peopleIcon{float:left; margin:12px 0 0 18px;}
.navList li .saleIcon{margin-top:15px;}
.navList li p{float:right; width:125px; height:45px; line-height:45px; font-size:14px; text-align:center;  margin:0;}
.navList li.cur,.navList li:hover{background:#1ABC9C; font-weight:bold;}
.navList li:hover a,.navList li.cur a{color:#FFFFFF; text-decoration:none;}
.navList li:hover .homeIcon,.navList li.cur .homeIcon{background-position:-1px -122px; float:left;}
.navList li:hover .productIcon,.navList li.cur .productIcon{background-position:-2px -182px;float:left; }
.navList li:hover .saleIcon,.navList li.cur .saleIcon{background-position:0 -451px;float:left;}
.navList li:hover .financeIcon,.navList li.cur .financeIcon{background-position:-2px -386px;float:left; }
.navList li:hover .clientIcon,.navList li.cur .clientIcon{background-position:-2px -419px; float:left;}
.navList li:hover .peopleIcon,.navList li.cur .peopleIcon{background-position:-1px -150px;float:left;}

.conBox{position:relative; margin-left:170px; min-height:800px;background:#FFFFFF; max-width:1286px; top:50px;}
.titSec{height:30px; line-height:30px; color:#34495e; font-size:20px; font-weight:normal; font-family:"微软雅黑"; padding:5px 0 10px 15px; margin:0;}
.goodsList{border-bottom:4px solid #f25749; margin-left:0; padding-left:20px;}
.goodsList li{ text-align:center; float:left; list-style:none; margin:0 20px; cursor:pointer; height:90px; position:relative;}
.goodsList li p a{color:#333333;}
.goodsList li .arrowD{display:none;}
.goodsList li.cur .arrowD{display:block; position:absolute; bottom:-9px; left:45%;}
.goodsList li em{display:inline-block; width:65px; height:65px; background:url(../img/icon.png) -150px 0; margin-bottom:5px;}
.goodsList li:hover em,.goodsList li.cur em{background-position:0 0;}
.goodsList li em .pcIcon{background-position:-261px -169px; width:39px; height:34px;margin-top:15px;}
.goodsList li em .phoneIcon{background-position:-276px -60px; width:24px; height:45px;margin-top:10px;}

.goodsList li em .sim-pIcon{background-position:-271px -380px; width:29px; height:33px;margin-top:15px;}
.goodsList li em .com-pIcon{background-position:-264px -429px; width:36px; height:33px;margin-top:15px;}

.goodsList li .addG{background-position:-150px 0; line-height:65px; width:65px; height:65px; color:#FFFFFF; position:relative;}
.newAddBox{width:190px; height:120px; padding:5px; position:absolute; border:1px dashed #CCCCCC; background:#FFFFFF; top:80px; left:-65px;}
.newAddBox .aClose{position:absolute; right:-10px; top:-10px;}
.newAddBox .addImg{margin:5px 0 5px 0; height:65px;}
.newAddBox .addImg em{float:left;background-position:-150px 0;}
.newAddBox .addImg em .askIcon{background-position:-276px -275px; width:24px; height:42px;margin-top:10px;}
.newAddBox .addImg a{margin:20px 0 0 10px; float:left; line-height:25px; color:#CCCCCC;}
.newAddBox .addName{width:170px; border-radius:0;}


.searchBox{height:40px; line-height:30px; text-align:right; padding:0 15px 10px 15px;}
.searchBox input{margin-left:10px;border-radius:0;}
.searchBox .addBtn,.searchBox .delBtn{width:30px; margin-top:-10px;}
.seCon{position:relative; display:inline-block;}
.seCon .seBtn{position:absolute; right:10px; display:inline-block; border:none; background:url(../img/icon.png) -137px -135px; width:20px; height:21px; cursor:pointer; top:12px;}
.seCon .setext{padding-right:35px;}
.tablePad{padding:0 15px 20px 15px; display:block; overflow:hidden;}
.tablePad table,.tablePad table tr,.tablePad table th,.tablePad table tr td{border:none; border-radius:0; vertical-align:middle;}
.table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child,.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child,.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child{border-radius:0;}
.tablePad table{background:#FFFFFF; }
.tablePad table thead{background:#95A5A6; color:#fff; height:45px; line-height:45px;}
.tablePad table tr td.colorBlue{font-weight:bold;}
.tablePad table tr td a{margin:0 5px; font-size:12px; color:#333333;}
.tablePad table label{margin-bottom:0;}
.tablePad table p{margin-bottom:0;}
.tablePad .addBtn{width: 30px; margin-bottom:10px;}
.tablePad table tr td .money{margin-right:20px;}
.tablePad table tr td.colorGreen{font-size:12px; padding-left:15px;}
.tablePad table tr td .t-himg{width:40px; height:40px; position:relative;}
.tablePad table tr td .t-himg img{width:40px; height:40px;}
.tablePad table tr td .t-himg i{position:absolute; right:0; bottom:0; color:#333333; background-color:#f5f5f5; font-size:12px; line-height:12px;}
/*=== 产品详情页面 ===*/
.titleStyle{color:#333333; font-size:16px; height:30px; line-height:30px;}
.goodsInfo{margin:40px 20px 0 20px;}
.goodsInfoBox{width:100%; position:relative; margin-bottom:20px;}
.goodsInfoBox .titleStyle{margin-top:-30px;}
.goodsLogo{position:absolute; left:80px; top:40px; text-align:center;}
.goodsLogo span{width:200px; height:200px; background:url(../img/circleBG.png); display:block;}
.goodsLogo p{font-family:"微软雅黑"; font-size:18px; margin-top:10px; color:#25aae2; font-weight:bold;}
.basicsBox{margin-left:360px; height:280px; position:relative;}
.basicsInfo{width:100%; height:280px; border:1px solid #DDDDDD; background:#FFFFFF;}
.basicsList{float:left; padding:10px 80px 10px 25px;}
.basicsList li{list-style:none;font-size:16px; height:40px; line-height:40px;}
.basicsList li .span1{width:80px; text-align:right; margin-left:0; }
.basicsList li .colorRed{margin-right:5px;}
.goodsIntro{width:100%; height:270px; border:1px solid #DDDDDD; background:#FFFFFF;}
.goodsIntro .introCon{padding:15px;}
/*=== 产品详情页面 END ===*/

/*=== 销售管理 ===*/
.salesList{border-bottom:3px solid #f25749; margin-left:0; padding-left:20px;}
.salesList li{ text-align:center; float:left; list-style:none; margin:0 20px; cursor:pointer; height:100px; position:relative;}
.salesList li .arrowD{display:none;}
.salesList li.cur .arrowD{display:block; position:absolute; bottom:-9px; left:45%;}
.salesList li em{display:inline-block; width:65px; height:65px; background:url(../img/icon.png) -150px 0; margin-bottom:5px;}
.salesList li:hover em,.salesList li.cur em{background-position:0 0;}
.salesList li .bentArrow{margin-top:10px;}
.addL{text-align:left; height:30px; padding-top:5px;}
.salesList li em .sales-oppr-icon {background-position:-279px -329px; width:19px; height:34px;margin-top: 15px;}
.salesList li em .visit-icon {background-position:-256px -227px; width:40px; height:26px;margin-top: 21px;}
.salesList li em .contract-icon {background-position:-268px -1px; width:31px; height:30px;margin-top: 18px;}
.salesList li em .sales-follow-icon {background-position:-261px -122px; width:38px; height:25px;margin-top: 19px;}
/*=== 销售管理 END ===*/

/*=== 财务管理 ===*/
.financeList li{height:35px; line-height:35px; padding:0 20px;}
.financeList li a{color:#666666; text-decoration:none;}
.financeList li.cur{ background:#f25749; color:#FFFFFF;}
.financeList li.cur a{color:#FFFFFF;}
/*=== 财务管理 END ===*/
/*=== 悬浮窗口 ===*/
.floatBox{width:350px; min-height:800px;  position:absolute; z-index:999; right:0; top:0;}
.floatBox .fBg{background:#ECF0F5;width:100%; min-height:800px; position:absolute; right:0; top:0; z-index:1000;filter:alpha(opacity=98); /* IE */ -moz-opacity:0.98; /* Moz + FF */ opacity: 0.98;}
.floatBox .fCon{position:absolute; z-index:1001;width:100%; right:0; top:0;}
.floatBox .fCon .arrR{float:left; margin:10px;}
.floatBox .fCon ul.ul-f1{list-style:none; float:left; margin:30px 0 0 0;}
.floatBox .fCon ul.ul-f1 li{color:#16A085; font-size:16px; line-height:35px;}
.floatBox .fCon ul.ul-f1 li .namS,.floatBox .fCon ul.ul-f1 li .conS,.floatBox .fCon ul.ul-f1 li .editIcon{float:left; display:inline-block;}
.floatBox .fCon ul.ul-f1 li .editIcon{margin-top:12px; cursor:pointer;}
.floatBox .fCon ul.ul-f1 li .namS{width:80px; text-align:right;}
.floatBox .fCon ul.ul-f1 li .conS{width:210px; color:#16A085; font-weight:500;}
.floatBox .fCon ul.ul-f1 li .textS{width:180px; border-radius:0;}
.floatBox .fCon ul.ul-f1 li .textA{width:184px; padding:0 5px; height:120px; background:#FFFFFF; color:#525252; font-size:12px;}
.floatBox .fCon ul.ul-f1 li .textpact{margin:0 10px 20px 0;}
.redBtn{width:310px;}
.redBtn a{width:260px;height:40px; margin:50px 0 0 45px;}
.floatW900{width:900px;}
.chanceB-l{float:left; width:210px; height:100px; padding:5px; background:#FFFFFF; line-height:24px; font-size:14px; overflow:hidden; margin-top:30px;}
.chanceB-r{float:left; margin-top:30px;width:630px;}
.title-f{width:auto; height:140px; border-left:2px solid #999999; padding-left:15px;}
.title-f h1{font-size:16px; margin:0; float:left;}
.sign-pact{width:140px; float:right; margin-right:20px;}
.sign-pact a{margin-bottom:5px;}
.rate-cur{float:right; margin-right:20px;}
.rate-show{position:relative; z-index:1005; width:140px; line-height:20px; padding: 10px 10px 11px;font-size: 16.996px; color:#FFFFFF; background:#50A729; text-align:center;}
.alter{text-align:center; width:140px; position:absolute; top:40px;}
.alter b{display:inline-block; width:19px; height:7px; background:url(../img/icon.png) no-repeat -100px -254px;}
.alter div{background:#F5DFAB; height:35px; line-height:35px; color:#999; font-size:14px; margin-top:-5px; cursor:pointer;}
.close-alert{background:url(../img/icon.png) no-repeat -148px -219px; width:9px; height:10px; border:none; position:absolute; top:20px; right:5px;}
.ul-f2{margin:0;}
.ul-f2 li{list-style:none; border-left:2px solid #999999; padding-bottom:50px;}
.ul-f2 li.none{border:none; padding-left:2px;padding-bottom:0;}
.ul-f2 li .li-timeb{float:left; width:120px; height:21px; line-height:21px; margin-left:-110px;}
.ul-f2 li .li-conb{float:left; padding-left:15px;}
.ul-f2 li .cir-w{display:inline-block; width:21px; height:21px; background:url(../img/icon.png) no-repeat -136px -171px; text-align:center; float:right;}
.ul-f2 li .cir-w i{display:inline-block; width:13px; height:13px; background:url(../img/icon.png) no-repeat -173px -178px; margin:4px;}
.ul-f2 li .li-boxs{position:relative; width:400px; min-height:120px; margin:8px 0 0 9px; background:#FFFFFF;}
.ul-f2 li .li-boxs i{display:inline-block; width:10px; height:15px; background:url(../img/icon.png) no-repeat -182px -218px; position:absolute; left:-9px; top:0;}
.floatBox .fCon ul.ul-f1 li .s-text{width:270px;}
.basicProfit{width:200px; height:80px; border:1px solid #DDDDDD; position:absolute; background:#FFFFFF; right:10px; top:150px;}
.basicProfit .pTop{height:39px; line-height:39px; border-bottom:1px solid #DDDDDD; padding:0 10px; font-size:14px;}
.basicProfit .pDown{padding:0 10px;height:39px; line-height:39px;}
.basicProfit .colorBlue{font-size:18px;}
.visit-num{width:240px; height:36px; line-height:36px; color:#FFFFFF; background:#248FAF; float:left;}
.visit-num .span1{width:180px;}
.visit-num .span2{width:31px; height:31px; display:inline-block; background:url(../img/icon.png) no-repeat -98px -281px; margin:2px 0 0 0;}
.ul-f2 li .visit-num .span2 .peo-wIcon{margin:2px 0 0 6px;}
.ul-f2 li .visit-num .span2 .tel-wIcon{margin:2px 0 0 8px;}
.quote-info{float:left; width:160px; height:36px; line-height:36px; text-align:center; color:#999999;}
.ul-f2 li .li-boxs p{padding:5px 10px; margin:0; font-size:12px; min-height:45px;}
.ul-f2 li .li-address{ margin:0 10px; padding:1px 0; height:25px; line-height:25px; border-top:1px solid #CCCCCC; color:#999999;font-size:12px;}
.ul-f2 li .li-address .mapIcon{margin-right:5px; float:left;}
.ul-f2 li .add-visit{width:530px; padding-bottom:10px;}
.ul-f2 li .add-visit .choice-left{width:130px; float:left; margin-top:10px;}
.ul-f2 li .add-visit .choice-left label{line-height:30px;}
.ul-f2 li .add-visit .choice-left label input{margin:8px 5px 0 10px; float:left;}
.ul-f2 li .add-visit .choice-left a{display:block; margin:10px; border:1px dashed #CCCCCC; text-align:center; height:65px; line-height:65px; color:#999999; text-decoration:none;}
.ul-f2 li .add-visit .choice-right{float:left; width:400px; margin-top:10px;}
.ul-f2 li .add-visit .choice-right textarea{width:355px; height:85px; border-radius:0;}
.ul-f2 li .add-visit .choice-right .text{width:367px; border-radius:0;}
.choice-box{text-align:right; padding-right:20px;}
.choice-box span{display:inline-block; width:80px;}
.choice-box span .btn.btn-large{height:30px; padding:6px 15px 5px;}
.liedit-close-box{background:#FFFFFF; width:12px; padding:0 6px 10px 6px; position:absolute; right:-24px; top:10px;}
.liedit-close-box input{margin-top:10px;}

.pactBox{width:500px;}
.pact-ul{width:450px;list-style:none; float:left; border-bottom:2px solid #1ABC9C; margin-left:0;padding-left:50px;}
.pact-ul li{float:left; padding:0 15px; height:35px; line-height:35px; color:#1ABC9C; margin-right:10px; }
.pact-ul li.cur{background:#1ABC9C; color:#fff;font-weight:bold;}
.pactBox .fCon ul.ul-f1{margin-left:25px; margin-top:15px; width:400px;}
.pactBox .fCon ul.ul-f1 li { height:40px; line-height:40px;}
.pactBox .fCon ul.ul-f1 li .namS{width:120px; color:#34495E; font-size:16px;}

.ul-f3{padding:50px 0 0 90px; clear:both;}
.ul-f3 li{list-style:none; border-left:2px solid #999999; padding-bottom:50px;}
.ul-f3 li.none{border:none; padding-left:2px;padding-bottom:0;}
.ul-f3 li .li-timeb{float:left; width:80px; height:21px; line-height:21px; margin-left:-70px;}
.ul-f3 li .li-conb{float:left; padding-left:15px;}
.ul-f3 li .cir-w,.ul-f3 li.cur .cir-w{display:inline-block; width:21px; height:21px; background:url(../img/icon.png) no-repeat -205px -212px; text-align:center; float:right;}
.ul-f3 li.cur .cir-w{background-position:-205px -245px;}
.ul-f3 li .cir-w i{display:inline-block; width:13px; height:13px; background:url(../img/icon.png) no-repeat -209px -178px; margin:4px;}
.ul-f3 li .li-boxs{position:relative; width:300px; min-height:100px; padding-top:20px; margin:8px 0 0 9px; background:#FFFFFF;}
.ul-f3 li .li-boxs i{display:inline-block; width:10px; height:15px; background:url(../img/icon.png) no-repeat -182px -248px; position:absolute; left:-9px; top:0;}
.ul-f3 li .tim-list{height:40px; line-height:40px; color:#999;}
.ul-f3 li .tim-list div{width:140px; text-align:right; float:left; font-weight:bold;}
.prouBox{width:600px;}
.prouBox .pact-ul{width:550px;}
.ul-f4 li .li-boxs{background:#f5f5f5; width:330px;}
.ul-f4 li .li-boxs i{background-position:-182px -311px;}
.ul-f4 li .li-boxs .span3,.ul-f4 li .li-boxs .date{width:80px; float:none; margin-left:10px; display:inline-block;}
.ul-f4 li .li-boxs .span3 a{font-size:12px; height:20px; line-height:20px; padding:0 5px;}
.ul-f4 li .li-boxs .date{width:auto; margin-right:10px; margin-left:0;}
/*=== 悬浮窗口 END ===*/

/*================ 注册/登录 ==================*/
.bg-blue{background:#1ABC9C;}
.logo-box{height:130px;}
.main{max-width:1366px; min-width:960px; margin:0 auto; position:relative;}
.m-box{position:relative;}
.cp-box .blue-btn{background:#34495E; display:inline-block; width:120px; height:35px; line-height:35px; text-align:center; color:#FFFFFF; font-size:14px; text-decoration:none;}
.cp-box .blue-btn:hover{background:#2C3E50;}
.login-box{width:420px; min-height:350px; padding-bottom:20px; background:#ECEFF1; margin:0 auto;}
.login-box h1{font-size:30px; font-weight:700; color:#34495E; height:80px; line-height:80px; text-align:center;}
.login-box .input-box{width:360px; height:50px; margin:0 0 30px 30px; position:relative;}
.login-box .icon-box{width:55px; height:50px; background:#dddddd; text-align:center; float:left; margin:0;}
.login-box .icon-box i{display:inline-block;background:url(../img/icon.png) no-repeat;}
.login-box .icon-box i.peop-icon{background-position:-98px -336px; width:30px; height:30px; margin-top:10px;}
.login-box .icon-box i.passw-icon{background-position:-101px -388px; width:23px; height:30px; margin-top:10px;}
.login-box .icon-box i.email-icon{background-position:-98px -472px; width:29px; height:20px; margin-top:15px;}
.login-box .icon-box i.num-icon{background-position:-98px -437px; width:31px; height:22px; margin-top:15px;}
.login-box .input-box input{border:1px solid #dddddd; border-radius:0; margin:0; height:38px; width:293px;}
.login-box .input-box span{position:absolute; left:-10px; top:16px;}
.login-box .sc-box{width:360px; margin:30px 30px 10px 30px;}
.login-box .f-l{text-align:right; margin:0 30px; font-size:12px;}
.cp-box{position:absolute; right:0; top:20px; color:#FFFFFF; font-size:18px; font-weight:600;}
.cp-box a{margin:0 10px;}
.login-box .r-t{margin:-25px 30px 30px 30px;}
.error-box{position:relative; height:500px;}
.error-box img{margin:100px 0 0 200px;}
.error-box p{width:200px; line-height:18px; font-size:14px; color:#FFFFFF; position:absolute; right:250px; top:350px; font-family:'微软雅黑';}
/*================ 注册/登录 END ==================*/


.basicInfo{width:760px; border:1px solid #cccccc; border-bottom:0; margin-left:60px;}
.basicInfo .ul-s1{margin:0;}
.basicInfo .ul-s1 li{height:80px; border-bottom:1px solid #cccccc; list-style:none; line-height:80px;}
.basicInfo .ul-s1 li .span1,.basicInfo .ul-s1 li .span2,.basicInfo .ul-s1 li .span3{float:left;height:80px; display:inline-block; font-size:16px; color:#333333; margin:0;}
.basicInfo .ul-s1 li .span1{ width:110px; background:#f5f5f5; text-align:center;}
.basicInfo .ul-s1 li .span2{ width:215px; padding-left:20px;}
.basicInfo .ul-s1 li .span3{ font-size:14px; color:#999999;}
.basicInfo .ul-s1 li .span3 a{margin-right:20px;}
.basicInfo .ul-s1 li .span3 .t-p,.basicInfo .ul-s1 li .span2 .t-p{width:300px; border-radius:0; margin-left:20px; height:28px; margin-top:5px;}
.basicInfo .ul-s1 li .span2 .t-p{width:150px; margin-left:0;}
.basicInfo .ul-s1 li .span2 label{float:left; margin:30px 10px 0 0;}
.save-btn{margin-left:192px; padding:20px 0;}
.save-btn a{width:215px; display:inline-block;}

.time-box{padding:50px 0 0 200px; position:relative;}
.time-add{width:136px; height:154px; background:url(../img/blue-bubble.png); display:block; line-height:200px; font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center;}
.time-add:hover{color:#FFFFFF; text-decoration:none;}
.time-shaft{background:url(../img/time-axis.jpg) repeat-y; list-style:none; margin:-5px 0 0 63px; padding-top:1px;}
.time-shaft li{background:url(../img/time-box.png) no-repeat; width:546px; height:86px; margin-left:-9px; margin-top:50px;}
.time-shaft li .time-q{float:left; width:180px; padding:20px 0 0 50px; color:#999999;}
.time-shaft li .time-q span{margin:0 5px; color:#333333;}
.time-shaft li .com-info{float:left; width:255px; padding-left:55px;}
.time-shaft li .com-info h2{color:#248faf; font-size:16px;width:255px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.time-shaft li .com-info p{color:#999999;}
.time-shaft li.old{background:url(../img/time-box-ed.png) no-repeat;}
.time-shaft li.old h2{color:#666666;}
.time-box .w-bg{background:#FFFFFF; width:20px; height:26px; position:absolute; left:260px; bottom:0;}
.popupbox4{width:540px; min-height:250px;}
.popupbox4 .saveBox{width:320px;}


/*用户名称*/
.user-name{width:150px; height:50px; background:#2C3E50; color:#FFFFFF; float:right; position:relative; z-index:998; font-size:14px; cursor:pointer;}
.user-name span{width:150px; height:50px; line-height:45px; text-align:center; display:inline-block;}
.user-name i{position:absolute; right:10px; top:19px; width:8px; height:7px; background:url(../img/icon.png) no-repeat -154px -384px; display:inline-block;}
.user-name.cur i{background-position:-171px -384px;}
.u-info-list{position:absolute; top:50px; left:0; width:150px; background:#2C3E50; margin:0; z-index:999;}
.u-info-list li{border-top:1px solid #dedede; list-style:none;}
.u-info-list li a{height:34px; line-height:34px; text-align:center; display:inline-block; width:150px; }
.u-info-list li a:hover{text-decoration:none;}
/*用户名称 END*/

/*员工管理*/
.staffList{width:210px; background:#1f6070; min-height:800px;float:left;}
.staffList h2{height:50px; line-height:50px; text-align:center; color:#FFFFFF; font-size:20px; border-bottom:1px solid #FFFFFF; margin:0; font-weight:normal;}
.staffList ul{margin:0;}
.staffList ul li{height:45px; line-height:45px; list-style:none;}
.staffList ul li a{display:inline-block; width:210px; height:45px; line-height:45px; color:#FFFFFF; text-decoration:none;}
.staffList ul li a:hover,.staffList ul li a.cur{background:#248faf;}
.staffList ul li a span{display:inline-block; padding-left:15px; width:170px; margin:0;}
.add-section{width:180px; margin:20px 0 0 15px;}

.staffCon{float:left; width:880px;}
.staffCon .searchBox{padding:15px 0;}

.peop-box{width:200px; height:65px; background:#f5f5f5; padding:10px; position:relative;font-size:14px; margin:10px 15px 10px 50px; float:left;}
.peop-box img{border-radius: 40px;height: 60px;width: 60px; float:left;}
.p-b-info{width:140px; float:left;}
.p-b-info p{line-height:20px; margin:0 0 5px 0; padding-left:15px;}
.p-b-info p .p-t{color:#999999; text-align:right;}
.p-b-info p .p-n{display:inline-block; width:82px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.p-b-info p.p-s-f{font-size:12px;}

.s-c{position:absolute; top:85px; left:0; width:220px;   background:#f5f5f5; border-top:3px solid #50a729;z-index:10; }
.s-c .p-t{width:80px; display:inline-block;text-align:right;}
.s-c p{border-bottom:1px solid #FFFFFF; padding:10px 0; margin:0;}
.s-c p select{width:100px; font-size:12px; height:25px; margin:0;}
/*员工管理 END*/


/*老板模式*/

.sell-funnel{width:100%; height:390px; background:#f0f0f0;}
.funnel-box h1{height:30px; line-height:30px; font-size:18px; font-weight:normal; padding-left:320px; margin:20px 0 0 0;}
.funnel-box .funnel-img{width:400px; height:350px; float:left; margin-left:150px; position:relative; background:#FFFFFF;}
.funnel-box .funnel-img .f-shade{width:400px; height:350px; background:url(../img/funnel.png) no-repeat; position:absolute;}
.funnel-box .funnel-num{float:left; padding-top:35px;}
.funnel-box .funnel-num li{height:45px; line-height:45px; list-style:none;}
.funnel-box .funnel-num li .f-t{width:80px; text-align:right; display:inline-block;}
.time-change{width:150px; height:30px; line-height:30px; position:relative; float:right; margin-right:150px; background:#FFFFFF; text-align:center; border:1px solid #cccccc; cursor:pointer;}
.time-change i{display:inline-block;width:11px; height:6px; background:url(../img/icon.png) no-repeat -152px -320px; position:absolute; right:10px; top:12px;}
.time-change ul{position:absolute; top:30px; left:-1px; width:150px; border:1px solid #cccccc; border-bottom:0; background:#FFFFFF; margin:0;}
.time-change ul li{height:30px; line-height:30px; border-bottom:1px solid #cccccc; width:150px; list-style:none;}

.sales-opp{width:100%; height:460px; background:#248faf;}
.chance-box{width:420px; padding-top:20px; margin-left:150px;color:#FFFFFF;}
.chance-box h1{height:35px; width:420px; line-height:35px; padding-bottom:20px; font-size:18px; font-weight:normal; text-align:center;margin:0; position:relative;border-bottom:2px solid #FFFFFF;}
.chance-box .time-change{position:absolute; right:0; top:0; font-size:14px; color:#333333; width:100px; margin-right:0;}
.chance-box .time-change ul,.chance-box .time-change ul li{width:100px;}
.histogram{width:420px;}
.histogram .info-show{height:300px;}
.histogram .time-s{width:420px; border-top:2px solid #FFFFFF; margin:0;}
.histogram .time-s li{width:140px; height:30px; line-height:30px; float:left; text-align:center;list-style:none;}
.caption{text-align:center; font-size:12px; padding-top:15px;}
.caption span{display:inline-block;width:30px; height:10px; margin:0 5px 0 30px;}
.caption span.g-bg{background:#7ac0a8;}
.caption span.o-bg{background:#f09b2d;}
.caption span.d-bg{background:#348a95;}
.caption span.r-bg{background:#d7a363;}
.finance{width:100%; height:480px; background:#f0f0f0;}
.finance h1{height:35px; line-height:35px; padding:20px 0; font-size:18px; font-weight:normal; text-align:center;margin:0; position:relative;}
.finance-box{width:750px;  margin:0 auto;}
.finance-columnar{border-bottom:2px solid #248faf; height:300px;}
.finance-box .time-s{width:750px;margin:0;}
.finance-box .time-s li{width:250px; height:30px; line-height:30px; float:left; text-align:center;list-style:none;}
.finance-box .m-s li span{margin-left:20px; color:#666666;}
/*老板模式 END*/

