<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MicroAssistant.Common.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MicroAssistant.Common.Config>
            <setting name="SystemEamilAccount" serializeAs="String">
                <value>lubezheng@qq.com</value>
            </setting>
            <setting name="SystemEamilPwd" serializeAs="String">
                <value>xiaobao19871029</value>
            </setting>
            <setting name="SystemEmailSubject" serializeAs="String">
                <value>企业助手--找回密码</value>
            </setting>
            <setting name="SystemQQSMPT" serializeAs="String">
                <value>smtp.qq.com</value>
            </setting>
        </MicroAssistant.Common.Config>
    </userSettings>
</configuration>