<div class="floatBox pactBox" id="receivablesDetailBox" style="width: 0; right: 0; top: 0;">
    <div class="fBg"></div>
    <div class="fCon clearfix" ng-controller="FinaceDetailCtrl">
        <i class="arrR" ng-click="hideReceivableDetail()" ></i>
        <ul class="pact-ul clearfix">
            <li ng-class="tabIndex==1?'cur':''" ng-click="tabIndex=1">合同详情</li>
            <li ng-class="tabIndex==2?'cur':''" ng-click="tabIndex=2">合同动态</li>
        </ul>
        <ul class="ul-f1" ng-show="tabIndex==1" >
            <li class="clearfix"><span class="colorBlue namS">合同名字：</span><span class="conS">{{receivableDetailInfos.CName}}
            </span></li>
            <li class="clearfix"><span class="colorBlue namS">合同编号：</span><span class="conS">{{receivableDetailInfos.ContractNo}}
            </span></li>
            <li class="clearfix"><span class="colorBlue namS">合同总额：</span><span class="conS">{{receivableDetailInfos.Amount | currency:''}}</span></li>
            <li class="clearfix"><span class="colorBlue namS">合同签署日期：</span><span class="conS">{{parseJsonDate(receivableDetailInfos.ContractTime,'yyyy/MM/dd')}}</span></li>
            <li class="clearfix"><span class="colorBlue namS">合同承办人：</span><span class="conS">{{receivableDetailInfos.CustomerName}}
            </span></li>
            <li class="clearfix"><span class="colorBlue namS">合同联系人：</span><span class="conS">{{receivableDetailInfos.CustomerName}}
            </span></li>
            <li class="clearfix"><span class="colorBlue namS">联系方式：</span><span class="conS">15828670324
            </span></li>
        </ul>
        <ul class="ul-f3" ng-show="tabIndex==2" ng-repeat="howpayItem in howpaylists">
            <li  ng-class="howpayItem.Isreceived==1?'clearfix cur':'clearfix '">
                <div class="li-timeb colorRed">
                    {{$index+1}}期
                            <span class="cir-w"><i></i></span>
                </div>
                <div class="li-conb">
                    <div class="li-boxs">
                        <i></i>
                        <div class="tim-list">
                            <div class="colorBlue">收款时间：</div>
                           {{parseJsonDate(howpayItem.PayTime,'yyyy/MM/dd')}}
                        </div>
                        <div class="tim-list">
                            <div class="colorBlue">实际收款时间：</div>
                            <span class="colorRed">{{parseJsonDate(howpayItem.ReceivedTime,'yyyy/MM/dd')}}<a>click</a></span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
