body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -66px;
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../修改账号密码_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:70px;
    top:0px;
    width:1024px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1030px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../leftnav_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:70px;
    top:61px;
    width:120px;
    height:846px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:852px;
}

.u3 {
    position:absolute;
    left:2px;
    top:415px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../leftnav_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:70px;
    top:160px;
    width:120px;
    height:90px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:96px;
}

.u5 {
    position:absolute;
    left:2px;
    top:37px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:113px;
    top:223px;
    width:42px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../leftnav_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:90px;
    top:70px;
    width:80px;
    height:80px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:80px;
}

.u8 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../leftnav_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:846px;
}

.u9 {
    position:absolute;
    left:186px;
    top:61px;
    width:10px;
    height:846px;
    
}

.u10_normal {
    background-image: url('../leftnav_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:105px;
    top:171px;
    width:50px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u11 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_line {
    background-image: url('../leftnav_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:90px;
}

.u12 {
    position:absolute;
    left:66px;
    top:160px;
    width:10px;
    height:90px;
    
}

.u13 {
    position:absolute;
    left:99px;
    top:325px;
    width:81px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../leftnav_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:105px;
    top:273px;
    width:50px;
    height:50px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u15 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:99px;
    top:415px;
    width:69px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../leftnav_files/u14_normal.png');
}

.u17_container {
    position:absolute;
    left:105px;
    top:363px;
    width:50px;
    height:50px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u18 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:99px;
    top:504px;
    width:71px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../leftnav_files/u14_normal.png');
}

.u20_container {
    position:absolute;
    left:105px;
    top:452px;
    width:50px;
    height:50px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u21 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:99px;
    top:596px;
    width:71px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../leftnav_files/u14_normal.png');
}

.u23_container {
    position:absolute;
    left:105px;
    top:544px;
    width:50px;
    height:50px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u24 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../修改账号密码_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:192px;
    top:44px;
    width:902px;
    height:863px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:908px;
    height:869px;
}

.u27 {
    position:absolute;
    left:2px;
    top:424px;
    width:898px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:205px;
    top:48px;
    width:211px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../修改账号密码_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:253px;
    top:175px;
    width:21px;
    height:12px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:27px;
    height:18px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../修改账号密码_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:260px;
    top:102px;
    width:765px;
    height:246px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:771px;
    height:252px;
}

.u32 {
    position:absolute;
    left:2px;
    top:115px;
    width:761px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../修改账号密码_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:261px;
    top:103px;
    width:110px;
    height:80px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:86px;
}

.u34 {
    position:absolute;
    left:2px;
    top:30px;
    width:106px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../修改账号密码_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:371px;
    top:103px;
    width:648px;
    height:80px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:654px;
    height:86px;
}

.u36 {
    position:absolute;
    left:2px;
    top:32px;
    width:644px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../修改账号密码_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:4px;
    width:764px;
    height:3px;
}

.u37 {
    position:absolute;
    left:261px;
    top:179px;
    width:764px;
    height:10px;
    
}

.u38_normal {
    background-image: url('../修改账号密码_files/u33_normal.png');
}

.u38_container {
    position:absolute;
    left:261px;
    top:185px;
    width:110px;
    height:80px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:86px;
}

.u39 {
    position:absolute;
    left:2px;
    top:30px;
    width:106px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../修改账号密码_files/u35_normal.png');
}

.u40_container {
    position:absolute;
    left:371px;
    top:185px;
    width:648px;
    height:80px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:654px;
    height:86px;
}

.u41 {
    position:absolute;
    left:2px;
    top:32px;
    width:644px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../修改账号密码_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:4px;
    width:764px;
    height:3px;
}

.u42 {
    position:absolute;
    left:261px;
    top:261px;
    width:764px;
    height:10px;
    
}

.u43_normal {
    background-image: url('../修改账号密码_files/u33_normal.png');
}

.u43_container {
    position:absolute;
    left:261px;
    top:267px;
    width:110px;
    height:80px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:86px;
}

.u44 {
    position:absolute;
    left:2px;
    top:30px;
    width:106px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../修改账号密码_files/u35_normal.png');
}

.u45_container {
    position:absolute;
    left:371px;
    top:267px;
    width:648px;
    height:80px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:654px;
    height:86px;
}

.u46 {
    position:absolute;
    left:2px;
    top:32px;
    width:644px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../修改账号密码_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:398px;
    top:124px;
    width:341px;
    height:39px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:45px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../修改账号密码_files/u47_normal.png');
}

.u49_container {
    position:absolute;
    left:398px;
    top:206px;
    width:341px;
    height:39px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:45px;
}

.u50 {
    position:absolute;
    left:2px;
    top:12px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../修改账号密码_files/u47_normal.png');
}

.u51_container {
    position:absolute;
    left:398px;
    top:293px;
    width:341px;
    height:39px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:347px;
    height:45px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:337px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../修改账号密码_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:479px;
    top:377px;
    width:216px;
    height:42px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:222px;
    height:48px;
}

.u54 {
    position:absolute;
    left:2px;
    top:12px;
    width:212px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../修改账号密码_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:944px;
    top:0px;
    width:150px;
    height:43px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:49px;
}

.u56 {
    position:absolute;
    left:2px;
    top:14px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../修改账号密码_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:1069px;
    top:19px;
    width:12px;
    height:8px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:14px;
}

.u58 {
    position:absolute;
    left:2px;
    top:-4px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u59 {
    position:absolute;
    left:944px;
    top:44px;
    width:151px;
    height:145px;
    overflow:hidden;
}

#pd0u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:145px;
    
}

.u60_normal {
    background-image: url('../修改账号密码_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:1px;
    width:150px;
    height:104px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:110px;
}

.u61 {
    position:absolute;
    left:2px;
    top:44px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:0px;
    top:12px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_line {
    background-image: url('../修改账号密码_files/u63_line.png');
}

.u63_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u63 {
    position:absolute;
    left:0px;
    top:30px;
    width:150px;
    height:10px;
    
}

.u64 {
    position:absolute;
    left:0px;
    top:45px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_line {
    background-image: url('../修改账号密码_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u65 {
    position:absolute;
    left:0px;
    top:65px;
    width:150px;
    height:10px;
    
}

.u66 {
    position:absolute;
    left:0px;
    top:79px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

