<h1 class="titSec">修改密码</h1>
<div>
    <form name="ChangePwdForm" ng-class="showerror?'showerror':''">
        <div class="basicInfo">
            <ul class="ul-s1">
                <li class="clearfix">
                    <span class="span1 colorlight">当前密码</span>
                    <span class="span3">
                        <input type="password" name="oldpwd" ng-model="User.oldpwd" ng-minlength="6" ng-maxlength="16" ng-required="true" placeholder="当前账户密码" class="t-p">
                    </span>
                </li>
                <li class="clearfix">
                    <span class="span1 colorlight">新密码</span>
                    <span class="span3">
                        <input type="password" name="newpwd" ng-model="User.newpwd" ng-minlength="6" ng-maxlength="16" ng-required="true" placeholder="新密码" class="t-p">
                    </span>
                </li>
                <li class="clearfix">
                    <span class="span1 colorlight">确认密码</span>
                    <span class="span3">
                        <input type="password" name="surepwd" ng-model="User.surepwd" ng-minlength="6" ng-maxlength="16" ng-required="true" placeholder="确认密码" class="t-p">
                    </span>
                </li>
            </ul>
        </div>
        <div class="save-btn">
            <a href="" ng-click="ChangePwdSumbit(User)" class="btn btn-primary">保 存</a>
        </div>
    </form>
</div>
