        <h1 class="titSec">销售管理</h1>
        <ul class="clearfix salesList">
            <li ng-class="steps=='chance'?'cur':''">
                <a ng-href="#/sales/chance"><em><i class="sales-oppr-icon"></i></em></a>
                <p class="colorlight">销售机会({{SalesChanceCount}})</p>
                <span class="arrowD"></span>
            </li>
            <li>
            	<div class="bentArrow"></div>
                <p class="colorlight">转换率<span class="colorg zhuanhuan_lf">{{(SalesVisitCount/(SalesChanceCount+SalesVisitCount))*100 | number:0}}%</span></p>
            </li>
            <li ng-class="steps=='visit'?'cur':''">
                <a ng-href="#/sales/visit"><em><i class="visit-icon"></i></em></a>
                <p class="colorlight">拜访({{SalesVisitCount}})</p>
                <span class="arrowD"></span>
            </li>
            <li>
            	<div class="bentArrow"></div>
                <p class="colorlight">转换率<span class="colorg zhuanhuan_lf">{{(SalesContractCount/(SalesVisitCount+SalesContractCount))*100 | number:0}}%</span></p>
            </li>
            <li ng-class="steps=='contract'?'cur':''">
                <a ng-href="#/sales/contract"><em><i class="contract-icon"></i></em></a>
                <p class="colorlight">签订合同({{SalesContractCount}})</p>
                <span class="arrowD"></span>
            </li>
            <li>
            	<div class="bentArrow"></div>
                <p class="colorlight">转换率<span class="colorg zhuanhuan_lf">{{(SalesAfterCount/(SalesAfterCount+SalesContractCount))*100 | number:0}}%</span></p>
            </li>
            <li ng-class="steps=='after'?'cur':''">
                <a ng-href="#/sales/after"><em><i class="sales-follow-icon"></i></em></a>
                <p class="colorlight">售后跟进({{SalesAfterCount}})</p>
                <span class="arrowD"></span>
            </li>
        </ul>
        <div class="searchBox">
            <!--<input type="button" class="addBtn" ng-click="addCurrentStepItem()" ng-show="steps=='chance'||steps=='contract'" />-->
            <span class="padd"><a class="btn btn-large btn-block btn-primary" ng-click="addCurrentStepItem()"  ng-show="steps=='chance'||steps=='contract'" >{{steps=='chance'?'新增机会':'新增合同'}}</a></span>
        </div>
        <div class="tablePad" ng-show="steps=='chance'" id="salesChanceListBox" style="min-height:200px;">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th width="30%">机会描述</th>
                  <th width="20%">联系人</th>
                  <th width="20%">联系方式</th>
                  <th width="15%">创建时间</th>
                  <th width="15%">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="chance in chances">
                  <td class="colorlight">{{$index +1}}</td>
                  <td>{{chance.Remark}}</td>
                  <td >{{chance.ContactName}}</td>
                  <td >{{chance.Phone||chance.Tel||chance.Email||chance.Qq}}</td>
                  <td>{{parseJsonDate(chance.AddTime,'yyyy/MM/dd')}}</td>
                  <td class="colorGray"><a href="" role="button" ng-click="showChanceDetail()">详情</a>|<a href="" ng-click="showVisitDetail()" role="button">主动拜访</a></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="tablePad" ng-show="steps=='visit'" id="salesVisitListBox" style="min-height:200px;">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th width="30%">机会描述</th>
                  <th width="20%">共拜访</th>
                  <th width="20%">赢率</th>
                  <th width="15%">最近一次拜访</th>
                  <th width="15%">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cvisit in cvisits">
                  <td class="colorlight">{{$index +1}}</td>
                  <td>{{cvisit.Remark}}</td>
                  <td >{{cvisit.VisitNum}}次</td>
                  <td >{{cvisit.Rate}}%</td>
                  <td>{{parseJsonDate(cvisit.LastVisitTime,'yyyy/MM/dd')}}</td>
                  <td class="colorGray"><a href="" role="button" ng-click="showVisitDetail()">详情</a>|<a href="" role="button" ng-click="addCurrentStepItem('contract')">签订合同</a></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="tablePad" ng-show="steps=='contract'" id="salesContractListBox" style="min-height:200px;">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th width="25%">合同名称</th>
                  <th width="20%">合同编号</th>
                  <th width="15%">客户</th>
                  <th width="15%">合同金额</th>
                  <th width="15%">合同时间</th>
                  <th width="10%">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="contract in contracts">
                  <td class="colorlight">{{$index +1}}</td>
                  <td>{{contract.CName}}</td>
                  <td >{{contract.ContractNo}}</td>
                  <td >{{contract.CustomerName}}</td>
                  <td>{{contract.Amount | currency:''}}</td>
                  <td>{{parseJsonDate(contract.StartTime,'yyyy/MM/dd')}}<span>至</span>{{parseJsonDate(contract.EndTime,'yyyy/MM/dd')}}</td>
                  <td class="colorGray"><a href="" role="button" ng-click="showContractDetail()">详情</a></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="tablePad" ng-show="steps=='after'" id="salesAfterListBox" style="min-height:200px;">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th width="30%">售后描述</th>
                  <th width="20%">联系人</th>
                  <th width="20%">联系方式</th>
                  <th width="15%">创建时间</th>
                  <th width="15%">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td class="colorBlue">四川新颖顺信息...</td>
                  <td class="colorBlue">1588234555</td>
                  <td>2013/07/31</td>
                  <td class="colorGray"><a href="" role="button" ng-click="showAfterDetail()">详情</a>|<a href="#myModal" role="button" data-toggle="_modal">主动拜访</a></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="pagination">
            <ul>
              <li class="previous" ng-repeat="page in pages | filter:'pre'"><a ng-href="{{page.url}}"><img src="img/previous.png" /></a></li>
              <li ng-class="page.active?'active':''" ng-repeat="page in pages | filter:'page'"><a ng-href="{{page.url}}">{{page.index}}</a></li>
              <li class="next" ng-repeat="page in pages | filter:'next'"><a ng-href="{{page.url}}"><img src="img/next.png" /></a></li>
            </ul>
        </div>
	<div ng-include="'partials/sales/chance-detail.html'"></div>
    <div ng-include="'partials/sales/chance-edit.html'"></div>
    <div ng-include="'partials/sales/visit-detail.html'"></div>
    <div ng-include="'partials/sales/contract-detail.html'"></div>
<div ng-include="'partials/sales/contract-edit.html'"></div>
    <div ng-include="'partials/sales/after-detail.html'"></div>
