<div class="clearfix">
    <div class="staffList">
        <h2>员工管理</h2>
        <ul>
            <li><a href="#"><span>全部员工 （21）</span> ></a></li>
            <li><a href="#"><span>新申请员工 （21）</span> ></a></li>
            <li><a href="#"><span>销售部门 （21）</span> ></a></li>
            <li><a href="#"><span>财务部门 （21）</span> ></a></li>
        </ul>
<!--        <div class="add-section">
            <a href="#fakelink" class="btn btn-large btn-block btn-info">+ 添加部门</a>
        </div>-->
    </div>
    <div class="staffCon">
        <div class="searchBox">
            <span class="seCon">
                <input type="text" class="setext" placeholder="Type something…">
                <input type="button" class="seBtn">
            </span>
        </div>
        <div class="clearfix">
            <div class="peop-box">
                <img src="img/Adimg/h1.jpg">
                <div class="p-b-info">
                    <p><span class="p-t">昵称：</span><span>yuwojiushi</span></p>
                    <p class="p-s-f"><span class="p-t">姓名：</span>王晓</p>
                    <p class="clearfix"><i class="boy-icon flat-l"></i><a href="javascript:void(0);" class="d-o flat-r grayLink">向下</a></p>

                </div>
                <div class="s-c">
                    <p><span class="p-t">手机：</span><span>18628188705</span></p>
                    <p><span class="p-t">入职时间：</span><span>2013/10/23</span></p>
                    <p>
                        <span class="p-t">所属部门：</span><span><select><option>销售部</option>
                        </select></span>
                    </p>
                </div>
            </div>
            <div class="peop-box">
                <img src="img/Adimg/h1.jpg">
                <div class="p-b-info">
                    <p><span class="p-t">昵称：</span><span>yuwojiushi</span></p>
                    <p class="p-s-f"><span class="p-t">姓名：</span>王晓</p>
                    <p class="clearfix"><i class="girl-icon flat-l"></i><a href="javascript:void(0);" class="d-o flat-r grayLink">向下</a></p>
                </div>
                <div class="s-c">
                    <p><span class="p-t">手机：</span><span>18628188705</span></p>
                    <p><span class="p-t">入职时间：</span><span>2013/10/23</span></p>
                    <p>
                        <span class="p-t">所属部门：</span><span><select><option>销售部</option>
                        </select></span>
                    </p>
                </div>
            </div>
            <div class="peop-box">
                <img src="img/Adimg/h1.jpg">
                <div class="p-b-info">
                    <p><span class="p-t">昵称：</span><span>yuwojiushi</span></p>
                    <p class="p-s-f"><span class="p-t">姓名：</span>王晓</p>
                    <p class="clearfix"><i class="girl-icon flat-l"></i><a href="javascript:void(0);" class="d-o flat-r grayLink">向下</a></p>

                </div>
                <div class="s-c">
                    <p><span class="p-t">手机：</span><span>18628188705</span></p>
                    <p><span class="p-t">入职时间：</span><span>2013/10/23</span></p>
                    <p>
                        <span class="p-t">所属部门：</span><span><select><option>销售部</option>
                        </select></span>
                    </p>
                </div>
            </div>
            <div class="peop-box">
                <img src="img/Adimg/h1.jpg">
                <div class="p-b-info">
                    <p><span class="p-t">昵称：</span><span>yuwojiushi</span></p>
                    <p class="p-s-f"><span class="p-t">姓名：</span>王晓</p>
                    <p class="clearfix"><i class="girl-icon flat-l"></i><a href="javascript:void(0);" class="d-o flat-r grayLink">向下</a></p>

                </div>
                <div class="s-c">
                    <p><span class="p-t">手机：</span><span>18628188705</span></p>
                    <p><span class="p-t">入职时间：</span><span>2013/10/23</span></p>
                    <p>
                        <span class="p-t">所属部门：</span><span><select><option>销售部</option>
                        </select></span>
                    </p>
                </div>
            </div>
            <div class="peop-box">
                <img src="img/Adimg/h1.jpg">
                <div class="p-b-info">
                    <p><span class="p-t">昵称：</span><span>yuwojiushi</span></p>
                    <p class="p-s-f"><span class="p-t">姓名：</span>王晓</p>
                    <p class="clearfix"><i class="boy-icon flat-l"></i><a href="javascript:void(0);" class="d-o flat-r grayLink">向下</a></p>

                </div>
                <div class="s-c">
                    <p><span class="p-t">手机：</span><span>18628188705</span></p>
                    <p><span class="p-t">入职时间：</span><span>2013/10/23</span></p>
                    <p>
                        <span class="p-t">所属部门：</span><span><select><option>销售部</option>
                        </select></span>
                    </p>
                </div>
            </div>
            <div class="peop-box">
                <img src="img/Adimg/h1.jpg">
                <div class="p-b-info">
                    <p><span class="p-t">昵称：</span><span>yuwojiushi</span></p>
                    <p class="p-s-f"><span class="p-t">姓名：</span>王晓</p>
                    <p class="clearfix"><i class="girl-icon flat-l"></i><a href="javascript:void(0);" class="d-o flat-r grayLink">向下</a></p>
                </div>
                <div class="s-c">
                    <p><span class="p-t">手机：</span><span>18628188705</span></p>
                    <p><span class="p-t">入职时间：</span><span>2013/10/23</span></p>
                    <p>
                        <span class="p-t">所属部门：</span><span><select><option>销售部</option>
                        </select></span>
                    </p>
                </div>
            </div>
            <div class="peop-box">
                <img src="img/Adimg/h1.jpg">
                <div class="p-b-info">
                    <p><span class="p-t">昵称：</span><span>yuwojiushi</span></p>
                    <p class="p-s-f"><span class="p-t">姓名：</span>王晓</p>
                    <p class="clearfix"><i class="girl-icon flat-l"></i><a href="javascript:void(0);" class="d-o flat-r grayLink">向下</a></p>

                </div>
                <div class="s-c">
                    <p><span class="p-t">手机：</span><span>18628188705</span></p>
                    <p><span class="p-t">入职时间：</span><span>2013/10/23</span></p>
                    <p>
                        <span class="p-t">所属部门：</span><span><select><option>销售部</option>
                        </select></span>
                    </p>
                </div>
            </div>
            <div class="peop-box">
                <img src="img/Adimg/h1.jpg">
                <div class="p-b-info">
                    <p><span class="p-t">昵称：</span><span>yuwojiushi</span></p>
                    <p class="p-s-f"><span class="p-t">姓名：</span>王晓</p>
                    <p class="clearfix"><i class="girl-icon flat-l"></i><a href="javascript:void(0);" class="d-o flat-r grayLink">向下</a></p>

                </div>
                <div class="s-c">
                    <p><span class="p-t">手机：</span><span>18628188705</span></p>
                    <p><span class="p-t">入职时间：</span><span>2013/10/23</span></p>
                    <p>
                        <span class="p-t">所属部门：</span><span><select><option>销售部</option>
                        </select></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

