<div id="staffmanagementZone">
<div class="staffList">
        <h2>员工管理</h2>
        <ul ng-repeat="SysRole in SysRoles">
            <li><a href="" ng-click="SearchUserListByRoleId(SysRole.RoleId)" ng-class="selectedRoleid==SysRole.RoleId?'cur':''"><span>{{SysRole.RoleName}} （{{SysRole.Count}}）</span></a></li>
        </ul>
    </div>
    <div class="staffCon">
        <!--<div class="searchBox">
            <span class="seCon">
                <input type="text" class="setext" placeholder="Type something…">
                <input type="button" class="seBtn">
            </span>
        </div>-->
        <div class="clearfix">
            <div class="peop-box" ng-repeat="SysUser in SysUsers" >
                <img src="img/Adimg/tx.png">
                <div class="p-b-info">
                    <p>{{SysUser.UserName}}</p>
                    <p class="colorlight font12">{{SysUser.UserAccount}}</p>
                    
                    <p class="clearfix">
                      <i ng-class="SysUser.Sex==2?'girl-icon flat-l':'boy-icon flat-l'" ></i>
                      <!--<a href="javascript:void(0);" class="d-o flat-r grayLink">向下</a>-->
                    </p>
                </div>
                <div class="s-c" style="display: none"  >
                    <p><span class="p-t colorlight">手机：</span><span>{{SysUser.Mobile}}</span></p>
                    <p><span class="p-t colorlight">入职时间：</span><span>{{parseJsonDate(SysUser.CreateTime)|date:'yyyy/MM/dd' }}</span></p>
                    <p>
                        <span class="p-t colorlight">所属部门：</span><span>
                            <select ng-model="SysUser.SelectedItem" ng-options="c.RoleName for c in SelectedOptions" ng-change="ChangeUserRole(SysUser.SelectedItem,SysUser)" >
                            </select>
                       </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

