<div class="floatBox" id="enterpriseclientDetailBox" style="width: 0; right: 0; top: 0;display: block;">
    <div class="fBg"></div>
    <div class="fCon clearfix">
        <i class="arrR" ng-click="hideEnterprsieClientDetail()"></i>
        <ul class="ul-f1 clientkuang colorblack">
            <li class="clearfix"><span class="colorlight namS">企业名称：</span><span class="conS">{{EnterpriseData.EntName}}</span></li>
            <li class="clearfix"><span class="colorlight namS">所属行业：</span><span class="conS">{{EnterpriseData.Industy}}</span></li>
            <li class="clearfix"><span class="colorlight namS">联系人：</span><span class="conS">{{EnterpriseData.ContactUsername}}</span></li>
            <li class="clearfix"><span class="colorlight namS">手机：</span><span class="conS">{{EnterpriseData.ContactMobile}}</li>
            <li class="clearfix"><span class="colorlight namS">座机：</span><span class="conS">{{EnterpriseData.ContactPhone}}</span></li>
            <li class="clearfix"><span class="colorlight namS">邮箱：</span><span class="conS">{{EnterpriseData.ContactEmail}}</span></li>
            <li class="clearfix"><span class="colorlight namS">企业地址：</span><span class="conS">{{EnterpriseData.Address}}</span></li>
            <li class="clearfix"><span class="colorlight namS">企业资料：</span><span class="conS">{{EnterpriseData.Detail}}</span></li>
        </ul>
    </div>
</div>
