<div class="floatBox" id="enterpriseclientDetailBox" style="width: 0; right: 0; top: 0;">
    <!--<div class="fBg"></div>-->
    <div class="fCon clearfix">
        <i class="arrR" ng-click="hideEnterprsieClientDetail()"></i>
        <ul class="client_info_ul">
            <li class="clearfix"><span class="draw_title">企业名称：</span><span class="draw_content draw_content_width_k">{{EnterpriseData.EntName}}</span></li>
            <li class="clearfix"><span class="draw_title">所属行业：</span><span class="draw_content draw_content_width_k">{{EnterpriseData.Industy}}</span></li>
            <li class="clearfix"><span class="draw_title">联系人：</span><span class="draw_content draw_content_width_k">{{EnterpriseData.ContactUsername}}</span></li>
            <li class="clearfix"><span class="draw_title">手机：</span><span class="draw_content draw_content_width_k">{{EnterpriseData.ContactMobile}}</span></li>
            <li class="clearfix"><span class="draw_title">座机：</span><span class="draw_content draw_content_width_k">{{EnterpriseData.ContactPhone}}</span></li>
            <li class="clearfix"><span class="draw_title">邮箱：</span><span class="draw_content draw_content_width_k">{{EnterpriseData.ContactEmail}}</span></li>
            <li class="clearfix"><span class="draw_title">企业地址：</span><span class="draw_content draw_content_width_k">{{EnterpriseData.Address}}</span></li>
            <li class="clearfix"><span class="draw_title">企业资料：</span><span class="draw_content draw_content_width_k">{{EnterpriseData.Detail}}</span></li>
        </ul>
    </div>
</div>
